[2016-04-13 21:19] ktbyers opened #4 "Napalm config_replace and config_merge fail if changing hostname"
Netmiko is looking for trailing prompt, but the trailing prompt changes when hostname is changed.

[2016-04-21 21:26] ktbyers opened #7 "Add support for inline config merge and inline config replace"
Need support for inline config merge, config replace (i.e. not from an external file, but from inline in-code).

[2016-04-21 21:26] ktbyers opened #8 "Improve Cisco IOS unit test"
Update unittests to test that invalid commands in a replace config operation get rejected.

[2016-04-21 21:27] ktbyers opened #9 "Is there an issue when using TACACS+ and NAPALM-IOS"
I have seen reports on this.

[2016-05-05 04:03] ktbyers opened #10 "Handle error better when archive is not enabled and trying to do config replace"
Make it more self-explanatory what the issue is.

[2016-05-06 19:27] ktbyers opened #11 "Test behavior of out of order configs"
Test behavior if interfaces are out of order on config replace

What does compare_config() do.

Also any issue with commit of config.

[2016-05-07 21:29] ktbyers commented on #8
Add hostname change for merge and replace operation to unit tests.
Add write mem into unit tests.
Update unit tests for merge and compare_config()

[2016-05-07 23:56] #4 closed, assigned to nobody

[2016-05-13 16:21] ktbyers opened #14 "napalm-ios will generate an error on 'dir' if not in enable mode"
[code]

You only need this for the file operations and not for the getter operations.

[2016-05-14 10:56] mirceaulinic opened #15 "local variable 'match' referenced before assignment"
I never used NAPALM on IOS, but thankfully to a user curious to exploit some new stuff, the following error was detected when calling `get_environment`:

[code]

As I do not have much experience here, may I ask you if it is [related to this](https://github.com/napalm-automation/napalm-ios/blob/develop/napalm_ios/ios.py#L1055) @ktbyers or @dbarrosop?

Thank you!

[2016-05-14 16:30] ktbyers commented on #15
@mirceaulinic Yes, it is most likely that. Can we get 'show proc cpu' from the device and a stack track?

[2016-05-15 09:50] bedecarroll commented on #15
Hi @ktbyers I ran into the issue when testing out the napalm-salt module. The `get_environment` was run against a Cisco switch stack of 2x `WS-C3750E-24PD-S`.

I've uploaded the show proc cpu: [show_proc_cpu.txt](https://github.com/napalm-automation/napalm-ios/files/264912/show_proc_cpu.txt)

And this is the error returned from the module:

[code]

Please let me know if there is anything else I ca

[2016-05-15 11:01] mirceaulinic commented on #15
With the information currently displayed in the output of the Salt modules, I think it would be harder to debug other issues. Without being an excuse, I did not have this need while running on our platforms. I assume this, and the timing is good to correct it!
In this case it seems easier to detect the root cause, as the variable `match` is used [@L1055](https://github.com/napalm-automation/napalm

[2016-05-15 11:54] bedecarroll commented on #15
Apart from my Salt not being in a virtualenv these are the responses from the commnads:

[code]

And from the `i.get_environment()`:

[code]

I take it the issue must be higher up then?

[2016-05-15 11:56] mirceaulinic commented on #15
On my side, I tried to open a connection with a non-IOS device, having the error:

[code]

However, I've catched the error referenced in the ticket:

[code]

[2016-05-15 11:58] mirceaulinic commented on #15
@bedecarroll When installing Salt, it has its venv and NAPALM preferably should be installed there, but not necessary.
The output of the salt command looks fine, you are connected to the device.

[2016-05-15 12:27] mirceaulinic commented on #15
Actually, on IOS I can't know for sure if the device is connected: I expected `open` to raise `ConnectionException` when cannot open the connection. I think we should investigate firstly if indeed  you are connected to the device -- let's move this in a private thread, since not related to the issue.

[2016-05-15 12:57] bedecarroll commented on #15
Sorry about this, it was a configuration error on my side. I hadn't set `multiprocessing: False` in my `/etc/salt/proxy` file. Once that was done the responses started coming back correctly.

Sorry for the false alarm and thank you all for the assistance.

[2016-05-15 12:57] mirceaulinic commented on #15
All sorted, a small detail solved the issue.
Without being an emergency, may I suggest having an implementation like below, in case the output of the command `show proc cpu` is empty for one reason or another?

[code]

And this will avoid using the `break` command too.

[2016-05-15 12:58] mirceaulinic commented on #15
Our messages crossed :) Will let now @dbarrosop or @ktbyers to decide if worths making the changes I suggested :)

[2016-05-15 14:44] ktbyers commented on #15
@mirceaulinic The 'dir' issue referenced above might be due to not being in enable() mode. I just recently was made aware that 'dir' requires privilege exec (which is sort of annoying).

I am going to propose something slightly different than what you did above. Will post in a bit.

[2016-05-15 15:10] mirceaulinic commented on #15
Perfect! I just proposed something by guess. Thanks @ktbyers!

[2016-05-15 15:43] ktbyers commented on #15
@mirceaulinic I propose we improve it as follows:

[code]

Basically, generate an exception if the regex parsing fails. This will help us get feedback on IOS devices that have different string output format.

But don't generate an exception on no output.

[2016-05-19 09:27] #15 closed, assigned to nobody

[2016-05-31 23:19] bvcao opened #18 "recv_ready error for both replace and merge even though change is commited"
Traceback (most recent call last):
  File "gistfile.py", line 46, in <module>
    main()
  File "gistfile.py", line 42, in main
    device.commit_config()
  File "/usr/lib/python2.7/site-packages/napalm_ios/ios.py", line 209, in commit_config
    output = self._commit_hostname_handler(cmd)
  File "/usr/lib/python2.7/site-packages/napalm_ios/ios.py", line 181, in _commit_hostname_handler
    if cur

[2016-05-31 23:42] ktbyers commented on #18
This originally occurred on a Cisco 881.

[2016-06-27 19:01] jzohrab commented on #14
I'm getting this error now, it can't open the device at all.  Here is a script that demonstrates the error:

[code]

Brand new venv:

[code]

Run with results:

[code]

This, or something like it, used to work back on Apr 26.  Checking code changes here. ... EDIT: actually, not really sure if that date (Apr 26) is accurate, b/c I doubt that I was destroying and recreating the venv regularly.

[2016-06-27 19:31] ktbyers commented on #14
@jzohrab Does 'admin/admin' log you into enable mode or just level1?

You should be able to work around it by setting the file system (as an optional argument) or by logging in using enable mode.

[code]

[2016-06-27 19:32] ktbyers commented on #14
@jzohrab The adding of auto detection of file system is what caused it to break. Now it tries to autodetect the file system which doesn't work if you are not in privilege level1.

[2016-06-27 19:36] jzohrab commented on #14
It takes me to level1:

[code]

In Napalm, how would I log in in enable mode?

[2016-06-27 19:43] ktbyers commented on #14
This should work:

[code]

[2016-06-27 19:47] ktbyers commented on #14
Hmmm...that won't work as 'device' is not created until open().

[2016-06-27 19:48] ktbyers commented on #14
So with current code a couple of solutions are:
1. Change AAA so user privilege is 15.

or
1. Pass in optional argument that specifies the dest_file_system

[2016-06-27 19:51] ktbyers opened #19 "Support enable mode and passing in of secret argument"
Should support passing in of secret argument.

Automatically attempt to go into enable mode if secret argument is present.

[2016-06-27 19:56] ktbyers commented on #14
Added this issue:

https://github.com/napalm-automation/napalm-ios/issues/19

[2016-07-14 10:53] jwbensley opened #21 "Support configuration lock for IOS on merge operation"
We can't really use this for a complete config replacement, just a merge I think (well technically we could, but the user would have to upload a file using many "no" clauses to negate existing config if they wanted to replace the running config with a completely different configuration, it's basically high risk / high likelihood of failure).

The current NAPALM IOS driver is using "configure repla

[2016-07-15 13:34] dbarrosop commented on #21
@ktbyers thoughts? Sounds good to me, it's similar to what other drivers do.

[2016-07-15 14:23] ktbyers commented on #21
@dbarrosop @jwbensley Yes, I like this idea particularly that we might get an automatic rollback capability.

We could do an optional arg... "merge_mode" that would either be 'scp' or 'cli'.

Should be easy to do with the netmiko driver as it has a method that streams the commands in via CLI (either from a file or from a Python iterable).

[2016-07-15 14:44] mirceaulinic commented on #21
To keep things consistent - most probably you are aware of this detail, but please let me make sure we have an agreement:
IOS-XR and JunOS have an optional argument `config_lock`: http://napalm.readthedocs.io/en/latest/support/index.html#list-of-supported-optional-arguments
napalm-iosxr and napalm-junos by default will lock the config DB after establishing the connection. If the user does not want

[2016-07-15 15:23] dbarrosop commented on #21
Two things:
1. I agree with @mirceaulinic. I think we should control that with the `config_lock`.
2. I don't like the automatic rollback. That's not how the rest of the drivers work. Rollback has to be triggered by the user or be an explicit optional argument.

[2016-07-15 15:44] ktbyers commented on #21
I think config_lock should default to False (since it wouldn't be available for the 'replace' operation and SCP should probably be the default operation for merge).

Agreed we should be consistent on automatic rollback (i.e. it shouldn't happen by default) and should require an explicit action (somehow) by the user to activate it.

[2016-07-15 15:51] mirceaulinic commented on #21
Indeed, the logic says that `config_lock` should default to `False`. No doubt about that. It is the other way around for historical reasons only: until a couple of months ago this arg did not exist and all connections were locked by default, no matter what. To not broke the existing usage we had to leave this default behaviour. And if the user wants to lock only when applying changes, has to speci

[2016-07-15 15:57] ktbyers commented on #21
@mirceaulinic I am not sure I understood you?

Are you proposing it should default to False or to True for IOS? Current default for IOS is False since there is no current config locking.

[2016-07-15 16:02] dbarrosop commented on #21
@ktbyers let's default to False to avoid breaking current assumptions on IOS. We can change it later to make it consistent but let's not bother about that right now.

[2016-07-15 16:19] mirceaulinic commented on #21
@ktbyers I'm just saying that `config_lock` currently defaults to `True` for other drivers. If we are going to use the same param with a different value, means that we completely miss the consistency goals.
I am fine to update napalm-junos and napalm-iosxr if necessary and keep the mess away!

[2016-07-15 17:10] dbarrosop commented on #21
@mirceaulinic  don't rush on this. I think that the detail is so small (lock vs no lock) that is fine to have the deviation for a while. I definitively want to make sure there is no deviation but I think we can live with this one for a while. And I think the default should be no locking because most network engineers don't even know that the configuration can be locked :P

[2016-07-15 17:15] mirceaulinic commented on #21
Totally agree with you - as previously said, I would also find it more natural to lock the config only when necessary.
Glad we have an agreement on this!
@dbarrosop @ktbyers please keep me posted; once this is ready I'll update junos and iosxr drivers accordingly 😸

[2016-07-15 18:55] ktbyers commented on #21
Okay, let's see if we can figure out a way to do config lock for both replace and merge operations for IOS.

If we can do this, then we can eliminate my main concern.

At that point, we can make sure the default option for config lock is consistent between the various drivers.

[2016-07-15 19:55] jwbensley commented on #21
@ktbyers @dbarrosop @mirceaulinic Is there somewhere these discrepancies and variances are documented within the central NAPALM docs? OK it’s a little bit annoying if the IOS driver has a different locking default to other drivers but it is expected to be “fixed” later, its more annoying to have the difference between drivers and not have it documented anywhere so it gets forgotten.

@ktbyers For

[2016-07-15 20:06] dbarrosop commented on #21
There should be none. If you notice any, please, report it. However, some vendors have some limitations and those are documented here:

http://napalm.readthedocs.io/en/latest/support/index.html#caveats

[2016-07-26 21:29] dbarrosop opened #22 "Fix setup.cfg and requirements.cfg files"
Relates to napalm-automation/napalm#280

Add `setup.cfg` and `requirements-dev.txt` file with the following content:
- `setup.cfg

[code]
- `requirements-dev.txt`

[code]

[2016-07-31 15:37] ktbyers opened #23 "Document the following banner behavior on IOS/IOS-XE"
I did some tests on this.

It looks like the banner requires the EXT character (ASCII 3). This looks like a cntl-C in the file, but as a single character.

[code]

I wrote it as follows:

[code]

This appended an existing file and then I moved it to where I wanted in the file.

kcelenza [8:50 PM]

[code]

[2016-08-24 19:42] ktbyers opened #24 "Support passing in keys arguments as an optional argument."

[2016-09-09 18:37] dbarrosop opened #25 "add get_config()"
See details in the parent issue napalm-automation/napalm-base#65

[2016-09-10 10:44] dbarrosop opened #26 "Cisco IOS merge and compare_config should generate an exception"
Original issue napalm-automation/napalm#224 created by @ktbyers

[2016-09-10 10:46] dbarrosop opened #27 "Improve Cisco IOS error handing for configure replace and configure merge"
Original issue napalm-automation/napalm#215 created by @ktbyers

See issue #209

[2016-09-11 15:38] ktbyers opened #31 "Changes before Hackathon"
@dbarrosop @mirceaulinic

I have staged some changes to napalm-ios prior to the Hackathon. I am planning on submitting these once I release Netmiko 1.0 which should be before Thursday.

Here are the changes I made:
- Adding support to import all Netmiko ConnectHandler arguments. This will add support for SSH keys and for an enable secret.
- Add version to be a part of the package so you can do nap

[2016-09-11 22:00] ktbyers commented on #24
This fix is staged pending release of Netmiko 1.0

[2016-09-11 22:00] mirceaulinic commented on #31
I had a brief look in the changes you have in the devel branch - looks good.

I'm thinking that we could replicate this across all drivers.

I would let @dbarrosop speak here - I never worked with pylama (I'm using pylint with very restrictive config, e.g.: https://github.com/mirceaulinic/iosxr-eznc/blob/master/.pylintrc).
BTW shall we raise this subject in the napalm-council?

[2016-09-11 22:01] ktbyers commented on #19
The solution for this is staged pending the release of Netmiko 1.0 which come out this week  (week of 9/12)

[2016-09-11 22:02] ktbyers commented on #9
Fixed in Netmiko 1.0 (coming out week of 9/12).

[2016-09-11 22:02] #9 closed, assigned to nobody

[2016-09-11 22:03] mirceaulinic opened #32 "Implement get_ntp_peers"
Base ref https://github.com/napalm-automation/napalm-base/pull/13

[2016-09-11 22:03] mirceaulinic opened #33 "Implement get_ntp_servers"
Base ref https://github.com/napalm-automation/napalm-base/pull/36

[2016-09-12 01:11] ktbyers opened #34 "unit test failure on templates"
@dbarrosop @mirceaulinic

I am testing the existing unit tests on napalm-ios and this fails:

DriverTemplateNotImplemented: Config template dir does not exist: /home/gituser/VENV/napalm/local/lib/python2.7/site-packages/napalm_ios-0.2.1-py2.7.egg/napalm_ios/templates.
                        Please create it and add driver-specific templates.

Is this test expected to fail on napalm_ios (from what

[2016-09-12 01:19] ktbyers commented on #31
@mirceaulinic FYI, made slight edit above...it was supposed to be:

napalm_ios.__version__

But got modified by the markdown. This is what I typically see for references to __version__

[2016-09-12 06:57] dbarrosop commented on #31
I was going to comment inline in the code but that will make it harder to track as there is no PR so there is not a single point of entry so I will just comment here:
- `__version__` - Makes complete sense, I will create issues for all the repos to track this.
- `find_version` - Can we move it to `napalm-base/napalm_base/utils/string_parsers.py` so we can reuse it everywhere?
- Ignoring pep257 - N

[2016-09-12 07:02] dbarrosop opened #35 "Add `__version__` at the module level"
See details in the parent issue napalm-automation/napalm-base#70

[2016-09-12 07:05] dbarrosop commented on #31
Issue created: napalm-automation/napalm-base#70

[2016-09-12 07:24] dbarrosop commented on #34
Mmm, can you tell me what you did exactly? Couldn't reproduce it. I got this:

[code]

[2016-09-12 08:14] dbarrosop opened #36 "Add ISSUE_TEMPLATE"
See details in the parent issue napalm-automation/napalm-base#71

[2016-09-12 17:55] ktbyers commented on #34
I see the 'NotImplementedError' if I 'pip install napalm-ios'.

I see this error:

[code]

If I install using, 'python setup.py install', I get this error:

[code]

Basically, there is nothing in setup.py that would cause ./templates to be included.

I have bypassed this in the local ios.py test since it will fail regardless, but it might be an issue for the other platforms.

[2016-09-13 00:55] mirceaulinic commented on #34
I don't recall running the tests agains the class (e.g., `nosetests -v TestIOSDriver:TestConfigIOSDriver`) which implies the execution of `setUpClass` therefore to be run against a target device, after `load_template` was introduced. I will have a look for other drivers.

It is specified in the manifest file: https://github.com/napalm-automation/napalm-ios/blob/develop/MANIFEST.in

Can you re-inst

[2016-09-13 03:43] ktbyers commented on #34
@mirceaulinic Yes, I don't think 'python setup.py install' uses MANIFEST.in.

I generally expect 'python setup.py install' to work, but it doesn't matter much..

I will retest with the pip install -e, but I expect that will work.

[2016-09-13 11:50] mirceaulinic commented on #34
No, installing using `setup.py install` will not consider the manifest file, as this is for the `sdist` option (which should be executed when creating the package and upload to pypi).
`pip install -e` works usually because will create an egg link to the source directory and the modules are not executed from `lib/python2.7/site-packages` but from your directory, e.g. `/path/to/napalm-ios` etc.

[2016-09-13 15:55] dbarrosop opened #37 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
See details in the parent issue napalm-automation/napalm#297

[2016-09-13 16:47] ktbyers commented on #34
@mirceaulinic my point is a bit different...I view it as a bug if 'python setup.py install' doesn't work (as this is the default python install method if you clone the repo).

[2016-09-13 16:50] mirceaulinic commented on #34
Totally agree, it's definitely a bug & python install must work!

[2016-09-13 16:50] ktbyers commented on #34
Okay, sounds good :-)

[2016-09-13 16:51] ktbyers commented on #34
FYI, pip -e worked fine.

[2016-09-13 18:44] ktbyers opened #38 "Make sure hostname handling on config operations works with Netmiko 1.0"
x

[2016-09-15 18:17] ktbyers commented on #35
This is done.

[2016-09-15 18:17] #35 closed, assigned to nobody

[2016-09-15 18:17] ktbyers commented on #31
Done.

[2016-09-15 18:17] #31 closed, assigned to nobody

[2016-09-15 18:18] ktbyers commented on #24
Commited in develop branch

[2016-09-15 18:18] #24 closed, assigned to nobody

[2016-09-15 18:18] ktbyers commented on #19
Fix in develop branch.

[2016-09-15 18:18] #19 closed, assigned to nobody

[2016-09-16 22:34] mirceaulinic commented on #34
@ktbyers

Can you please share the install output? Looks like the option we are looking for in `setup.py` is `include_package_data=True` which is already there.

Trying this out:

[code]

Looks like it does copy the files as specified in the manifest file.

I do not have any IOS box to test, but doing the same with napalm-junos:

[code]

Which works as expected:

[code]

[2016-09-18 13:59] dbarrosop opened #42 "Migrate tests to new testing framework"
See details in the parent issue napalm-automation/napalm-base#99

[2016-09-18 15:15] ktbyers commented on #26
This issue was fixed earlier.

[2016-09-18 15:15] #26 closed, assigned to nobody

[2016-09-18 17:15] ktbyers commented on #22
Fixed here https://github.com/napalm-automation/napalm-ios/pull/43

[2016-09-18 17:16] #22 closed, assigned to nobody

[2016-09-21 12:40] mirceaulinic opened #45 "Unable to open connection with Cisco ASA"
### Description of Issue

I'm trying to open the connection with a Cisco ASA device.
### napalm-ios version

[code]
### netmiko version

[code]
### IOS version and platform details

[code]
### Error Traceback

[code]

Looks like it does not like a hostname containing hyphen?

Also, it would probably be good in the `close` method to check if the connection has been established before trying to clos

[2016-09-21 15:02] mirceaulinic commented on #45
I think the problem is actually after establishing: it executes: `dir`.

But the result of this command is not as expected:

[code]

My understanding is that the `<--- More --->` block is not handled under the `send_command` method in netmiko's `BaseConnection` class.

[2016-09-21 15:11] mirceaulinic commented on #45
Probably in netmiko should send `terminal pager 0` before anything else. What do you think @ktbyers?

[2016-09-21 15:36] dbarrosop commented on #45
An ASA? I don't think it's even supported. ASA doesn't run IOS, does it? Haven't seen one of those since version 7.

[2016-09-21 15:40] mirceaulinic commented on #45
@dbarrosop According to the [netmiko's readme](https://github.com/ktbyers/netmiko#regularly-tested), ASA is in the list of "Regularly tested"

[2016-09-21 15:43] dbarrosop commented on #45
Yeah, but that's just transport. `napalm-ios` might be doing something IOS specific when opening the connection or the way configuration is loaded might be completely different. Honestly, I don't know : )

[2016-09-21 15:49] mirceaulinic commented on #45
I am not sure either, but they are all using netmiko and it's just scraping the CLI at the end of the day. There may be differences in terms of commands excuted inside the napalm's methods - I don't know, it is the very first time when I try to use these boxes :D

[2016-09-21 16:30] ktbyers commented on #45
Yes, ASA does not run Cisco IOS so Netmiko supports ASA, but napalm-ios does not support the ASA.

If you want to use Netmiko on an ASA, you need to use the ''cisco_asa' device_type.

Note, ASA does not have any "configure replace" operation and I would expect many/most of the getters would not work.

You could try a proof-of-concept on the ASA (and see what happens) if you replace the device_type

[2016-09-21 16:33] mirceaulinic commented on #45
Thanks for clarifying this @ktbyers!

Would make sense to you to have an optional argument in napalm-ios to specify the device type?

[2016-09-21 16:35] dbarrosop commented on #45
I would hack it locally to test first, I agree with @ktbyers in that most of the code is probably not gonna work with ASA so a `napalm-asa` might be needed.

[2016-09-21 16:36] mirceaulinic commented on #45
Oh right

I did not see the "not"

[2016-09-21 16:37] ktbyers commented on #45
@dbarrosop Yes, I haven't seen a reasonable way to achieve the NAPALM config operations (particularly replace). I know Patrick Ogenstad did some work on newer ASA OS, but I don't think I ever saw a solution that looked reasonable.

[2016-09-21 16:44] mirceaulinic commented on #45
`get_ntp_stats` and `ping` are the only methods that worked :)

I see that it fails when executing the commands:

[code]

I will check if the getters would work if we'd use the appropriate command.

[2016-09-21 16:48] mirceaulinic commented on #45
Nope :)

[2016-09-21 16:52] mirceaulinic commented on #45
Closing this issue, apologise for the false alarm.
FTM hacking the local napalm-ios version to use the cisco_asa parameter is enough for what I need.

Thanks for your help @dbarrosop and @ktbyers!

[2016-09-21 16:52] #45 closed, assigned to nobody

[2016-09-21 17:21] ktbyers commented on #45
Yes, ASA is a pretty different beast from IOS so even commands for getters would probably/possibly be different (in addition to the output).

[2016-10-05 10:35] dbarrosop opened #46 "Pin napalm-base driver"
See details in the parent issue napalm-automation/napalm-base#107

[2016-10-05 11:12] dbarrosop opened #48 "Python 3 support"
See details in the parent issue napalm-automation/napalm#199

[2016-10-10 03:51] ktbyers opened #49 "get_lldp_neighbors_detail causes IndexError"
[code]

[code]

[2016-10-10 05:10] ktbyers opened #50 "Doc errors on IOS"
http://napalm.readthedocs.io/en/latest/support/ios.html

Netmiko version.

Statement regarding write mem (not occurring).

[2016-10-10 05:12] ktbyers commented on #50
http://napalm.readthedocs.io/en/latest/support/index.html#getters-support-matrix

global_delay_factor should default to 1

[2016-10-12 21:09] mirceaulinic commented on #46
Closed via https://github.com/napalm-automation/napalm-ios/issues/46

[2016-10-12 21:09] #46 closed, assigned to nobody

[2016-10-17 18:52] clay584 opened #51 "get_facts traceback on IOS-XE device"
When trying to do a get_facts on an IOS-XE device, I am getting a traceback.

[code]

It is due to the fact that I am running Denali code (16.3.1a) on this device for MPLS support.  This is what I did to fix it, but you can probably patch it in a more graceful manner as opposed to ignoring an exception.

[code]

show version output:

[code]

After the fix:

[code]

[2016-10-17 20:11] ktbyers commented on #51
Okay will try to look at it. Should be easy to fix.

[2016-10-17 22:46] ktbyers commented on #51
@clay584 Please test the fix referenced above.

[2016-10-18 13:16] clay584 commented on #51
It fixed it.  Thanks Kirk!  BTW, your python class is paying off.  It was a very good primer for me.  I am using napalm, ntc-ansible, and other bits to automate the deployment and operation of an MPLS network for a large university.  Pretty cool stuff.

[2016-10-18 14:21] ktbyers commented on #51
Nice...

[2016-10-18 14:21] #51 closed, assigned to nobody

[2016-10-19 18:37] piter50 opened #53 "Add handling for exec prompt timestamp"
If a cisco ios device is configured with the following:

[code]

it will prepend

[code]

to commands.  Some commands get an extra empty newline which causes the get function to exit early.

This throws off some of the get commands parsing which are not expecting an extra 2-3 lines

[2016-10-19 19:13] ktbyers commented on #53
Can you disable this?

[code]

in other words, your config has made your output non-standard.

The general problem is that we can't write the getters() such that any changes someone makes to the output in the CLI can be accommodated. It is hard-enough just to handle the normal variations in output.

Second option...if NAPALM-ios and possibly salt integration provided a way to dynamically modify th

[2016-10-19 19:26] piter50 commented on #53
Actually, it looks like it can be turned off on a per session basis and would not need to be done in config mode.
The command would be
`terminal no exec prompt timestamp`
Subsequent logins would turn it back on.

[2016-10-19 19:52] piter50 commented on #53
I was able to get around it by adding to the netmiko libraries...

to netmiko/base_connection.py, i just added a set_timestamp_off command which i just copied from the set terminal width command and added a line for set_timestamp_off in the session_preparation.

cisco/cisco_ios.py:
self.set_timestamp_off(command='terminal no exec prompt timestamp')

[2016-10-19 20:25] ktbyers commented on #53
@piter50 Nice, is that a workable solution for you?

[2016-10-19 21:34] mirceaulinic commented on #53
Sounds like a good workaround for me too!

[2016-10-20 13:55] piter50 commented on #53
It is a workable solution for me.  Is it something you would consider adding/merging to the netmiko code?

[2016-10-20 15:47] ktbyers commented on #53
Probably not...as this is the first time I have ever seen this issue. Someone can always just turn it off in Netmiko (pretty easily).

[2016-10-20 15:47] #53 closed, assigned to nobody

[2016-10-20 16:31] piter50 commented on #53
Fair enough.  I had to patch my rancid set up for this prior to release 3.0 where the devs added it in.
Thanks

[2016-10-20 16:32] ktbyers commented on #53
I will probably watch and see if other people have this issue. It also becomes more problematic for things that depend on Netmiko (NAPALM/Ansible/Salt) where it might not be so easy to directly turn it off.

[2016-10-21 19:49] ktbyers opened #55 "Add allow_agent argument into napalm-ios"
Needs tied to Netmiko version 1.1 (i.e. if Netmiko version >= this, then support that argument).

[2016-11-01 14:54] nickermire commented on #19
I'm also having this problem when calling napalm via ansible. Had to set privilege mode to 15 for the module to work. Netmiko version is 1.1.0.

Here is my playbook.yml
` - name: Push config to switch group.
  hosts: test
  connection: local
  gather_facts: no

  tasks:
    - name: get facts from device
      napalm_get_facts:
        hostname={{ inventory_hostname }}
        username=theusername

[2016-11-01 14:57] nickermire commented on #19
Also have to delete the secret variable as it breaks the playbook.

[2016-11-01 17:44] ktbyers commented on #19
@nickermire You need to file your issue against napalm-ansible. That is the the more logical place for it. This above issue has been fixed, napalm-ios now supports all Netmiko arguments.

[2016-11-01 17:48] nickermire commented on #19
Thanks Kirk

On Tuesday, November 1, 2016, Kirk Byers notifications@github.com wrote:

[2016-11-02 14:31] ericrochow opened #62 "get_mac_address_table not returning expected results"
Different IOS platforms format `show mac address-table` differently (different order and/or different number of fields), which can cause ValueError exceptions or in some cases empty result sets depending on the format.

Some examples:

#  6500

## Error:
[code]

##  Table format:
[code]

#  4948

## Error
[code]

##  Table format
[code]

#  2960

##  Error
None, but result set is empty

##  Table

[2016-11-03 16:03] ktbyers opened #63 "napalm-ios is not getting into enable mode if secret is passed"
'dir' command in the auto detection of the filesystem will fail if not in enable mode, but there is nothing ensuring that the device is in enable mode.

Might also affect panos, ios-xr, and vyos drivers that use Netmiko

[2016-11-03 16:38] ktbyers commented on #63
Initial fix didn't work as SCP channel also requires enable() mode. Fixing that might be problematic. Affects config operations not getter operations.

[2016-11-03 20:29] dbarrosop commented on #63
do you need some help with this? I can be your rubber duck : )

[2016-11-03 20:31] dbarrosop commented on #62
Would you mind sending for each platform the output of: `show mac-address-table`?

Feel free to hide/replace sensitive information if any.

[2016-11-04 16:16] ericrochow commented on #62
That should be in the issue under 'table format' for each platform. I only included one scrubbed example for each.

[2016-11-04 20:50] dbarrosop commented on #62
oh! sorry, I overlooked them somehow.

Thanks!

[2016-11-07 19:54] ericrochow commented on #62
No worries! :)

Let me know if there is any further information required.

[2016-11-17 13:38] fabbiomcosta opened #68 "Napalm to Extreme Network devices"
Hello everybody,

Brief introduction:
 I've been studing Ansible and Salt for about a week and I found Napalm library two days ago on the internet.  I tested Napalm with juniper and cisco (works well, amazing). However,  we have almost 90 Extreme Networks switches in our network and they are old devices and with certain limitations, telnet is one of them. I also have a mgtm vlan via telnet to mana

[2016-11-17 13:45] mirceaulinic commented on #68
Hi @fabbiomcosta

`napalm-ios` is using `netmiko` (https://github.com/ktbyers/netmiko/tree/master/netmiko) as transport libray. AFAIK netmiko provides now support for telnet - @ktbyers please correct me if I'm wrong. If that's the case, I think we can definitely introduce this feature, via a new optional argument (http://napalm.readthedocs.io/en/latest/support/index.html#optional-arguments). We ca

[2016-11-17 17:22] fabbiomcosta commented on #68
Hi @mirceaulinic,
I'm not a developer, but i saw that netmiko provides support for telnet. So, you are right.
How could I help you to deploy the new optional argument? I'm interested in helping this project.

[2016-11-17 18:22] ktbyers commented on #68
Netmiko supports telnet using device_type 'cisco_ios_telnet'. Extreme might work using this driver (for Netmiko).

napalm-ios can't be made to work with telnet as configuration file operations all use secure copy to transfer files (at least as currently constructed).

[2016-11-18 08:00] dbarrosop opened #69 "Implement `is_alive` method"
See details in the parent issue napalm-automation/napalm-base#137

[2016-11-20 13:09] dbarrosop commented on #68
@ktbyers how hard would it be to support the getters over telnet? Obviously, if the user decide to use telnet as transport configuration related methods should be disabled.

[2016-11-20 16:56] ktbyers commented on #68
@dbarrosop getters is probably easy if the Netmiko 'cisco_ios_telnet' driver just works.

[2016-11-21 01:20] ktbyers commented on #48
This is done.

[2016-11-21 01:20] #48 closed, assigned to nobody

[2016-11-21 01:21] ktbyers commented on #55
This is done.

[2016-11-21 01:21] #55 closed, assigned to nobody

[2016-11-21 12:06] mirceaulinic commented on #37
Closed via https://github.com/napalm-automation/napalm-ios/commit/ff0dc252ae89b594171485365b9bb2e661a6f2b5.

[2016-11-21 12:06] #37 closed, assigned to mirceaulinic

[2016-11-21 12:06] mirceaulinic commented on #36
Closed via https://github.com/napalm-automation/napalm-ios/commit/ff0dc252ae89b594171485365b9bb2e661a6f2b5.

[2016-11-21 12:06] #36 closed, assigned to nobody

[2016-11-21 14:24] dbarrosop commented on #68
I will let you decide if it's worth supporting the getters via telnet. I understand configuration might be trickier.

[2016-11-25 10:50] mirceaulinic commented on #25
Closed via https://github.com/napalm-automation/napalm-ios/commit/ed75dbe4293237ddeb7d55ed0d0a21277b354bfc

[2016-11-25 10:50] #25 closed, assigned to nobody

[2016-11-26 21:58] mirceaulinic commented on #69
Closed via https://github.com/napalm-automation/napalm-ios/commit/b6c386f149d915fc6f116d64c854f188221af331

[2016-11-26 21:58] #69 closed, assigned to mirceaulinic

[2016-11-30 05:08] tyler-8 opened #74 "Multiple Getters Failing on IOS-XE (ASR1001)"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Trace

[2016-11-30 13:06] dbarrosop commented on #74
Are you shitting me? Is Cisco that st%&$d? They don't know that an IP represented as a string can have a max_length of 15 counting the dots? Interesting a networking vendor doesn't know about that.

[2016-11-30 14:03] mirceaulinic commented on #74
[code]

Whut. the. f!? That's beyond my imagination!

[2016-11-30 14:14] itdependsnetworks commented on #74
One way to "normalize" the data:

[code]

[2016-11-30 14:51] itdependsnetworks commented on #74
Added this in slack, but thought I would comment here, should probably have: `peer_id = peer_id.replace('*','')` as well.

[2016-11-30 16:30] ktbyers commented on #74
Can we just re.sub based on IP address pattern with a trailing newline and then eliminate the newline?

@itdependsnetworks Sounds good on your peer_id replacement as well?

[2016-11-30 16:46] tyler-8 commented on #74
@ktbyers That would actually work quite well if done before the linesplit. Replace the trailing newline with a space and good to go. Genius!

I still need to figure out why the other getters are failing.

[2016-11-30 16:55] tyler-8 commented on #74
get_facts() fails due to `show ip interface brief` on IOS-XE also returns load and time source stats. Fix is `show ip interface brief | begin ^Interface`

Here's the output:
[code]

[2016-11-30 17:37] itdependsnetworks commented on #74
@ktbyers

I'm not sure how that will work, in my mind it will still be two different elements in the same list, though I am sure I am missing something. If it works, then all the better. Was just offering up at potential solution being that it only took me 5-10 min, but again, whatever works :)

[2016-11-30 18:20] tyler-8 commented on #74
@itdependsnetworks: What @ktbyers is proposing is eliminating the newlines following the IP before the .split("\n") function is performed. That should make the linesplit piece execute without issue.

[2016-11-30 18:34] ktbyers commented on #74
@itdependsnetworks It's all good. I will try to do a few tests.

[2016-11-30 18:46] itdependsnetworks commented on #74
@tyler-8 @ktbyers brilliant :)

`output = re.sub(r'((?:\*|\s+)(?:\d{3}\.){3}\d{3}\s*)(?:\n|\r)', r'\1', output)`

[2016-11-30 18:57] tyler-8 commented on #74
get_arp_table() has the same issue as get_facts(). `show ip arp` output gives load and NTP stats.

Raw output:
[code]

Here's the fix:
`sh ip arp | begin ^Protocol`

[2016-11-30 18:58] ktbyers commented on #74
@tyler-8 Okay, I will try to fix these in the same PR request.

[2016-11-30 19:01] tyler-8 commented on #74
@ktbyers - Okay confirmed for sure. These functions are breaking due to the same lines in the output.

Adding the output modifiers to `| begin ^Protocol` or `| begin ^Interface` will fix it for all IOS devices.

[2016-11-30 19:51] tyler-8 commented on #74
I just saw that the get_arp_table() is already using an output modifier.
`command = 'show arp | exclude Incomplete'`

So for that command it'll have to be something like `sh ip arp | exclude Incomplete|Load for|Time source` but that still leaves a blank line at the beginning of the output. I'm not sure if there's a way to filter out blank lines in the CLI so that may be for NAPALM to do.
[code]

[2016-11-30 20:44] tyler-8 commented on #74
Thanks to @ogenstad

Which turned out to be the case for all the getters with issues except `device.get_bgp_neighbors()` - which still breaks due to IOS wrapping the neighbor lines.

Performing `>>> device.cli(["terminal no exec prompt timestamp"])` prior to executing the other getters solves the problems.

[2016-11-30 21:09] ktbyers commented on #74
@tyler-8 Yes, I figured it was probably a CLI setting for the ones excluding BGP.

It is probably worth fixing, however, so NAPALM just filters those lines out.

[2016-11-30 22:21] tyler-8 commented on #74
Found some additional silliness, though netmiko may already be handling this by doing `terminal length 0`.

When encountering ` -- More -- `, IOS will insert additional header rows, which can split up the peer-id from its BGP data.

[code]

[2016-12-01 14:23] tyler-8 commented on #74
Here's my regex stab at removing the line breaks/feeds after the peer-id:

`line_merge = re.compile(r"((?:\d{1,3}\.){3}\d{1,3}\s*)(?:\n|\r)(.+)")`
`output = line_merge.sub(r"\1\2", bgp_output.strip())`

[2016-12-01 17:56] ogenstad opened #76 "get_arp_table() bug with static arp entries"
### Description of Issue/Question

While working with the pytest framework I noticed a bug. Will just ignore this for now and remove the static entry.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version

[code]

### IOS version
(Paste verbatim output from `show version` between quotes below)

[code]

### Steps to

[2016-12-01 20:00] ogenstad opened #77 "Issue with get_mac_address_table() on some devices"
### Description of Issue/Question

The function uses `show mac-address-table` to get mac addresses. For some IOS devices the `show mac address-table` command is used.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version

[code]

### IOS version
(Paste verbatim output from `show version` between quotes below)

[code

[2016-12-01 21:36] tyler-8 commented on #77
I don't have a IOS 15.X switch to test on, but I can say for certain that my IOS 12.X switch uses `show mac address-table` and my IOS 15.X router uses `show mac-address-table`

[2016-12-02 18:49] ktbyers commented on #77
I will try to fix this next week (Dec 5 - Dec 9)

[2016-12-02 18:53] ktbyers commented on #76
Will try to fix the week of 12/5 - 12/9.

[2016-12-02 18:54] ktbyers commented on #74
Will try to fix next week: 12/5 - 12/9

[2016-12-02 19:00] ogenstad commented on #77
From my point of view this was just something I noticed while creating #75, I don't have any urgent need for this.

However due to the issues we talked about in the chat it would probably be better to wait to fix this until #75 has been merged. That way it will be easier to spot potential issues.

[2016-12-02 20:22] dbarrosop commented on #74
Would be nice to migrate to the new testing framework and include this test cases before fixing. Will double check with @ogenstad as I think he was working on it and help him out to have it ready ASAP.

[2016-12-03 17:05] ktbyers commented on #74
I submitted a PR on this including tests here:

https://github.com/napalm-automation/napalm-ios/pull/78

[2016-12-03 17:30] ktbyers commented on #74
@tyler-8 Can you test this fix works with your BGP line wrapping issue.

[2016-12-03 22:03] ktbyers commented on #74
I also put in a fix that should filter these lines:

[code]

[2016-12-04 17:54] #77 closed, assigned to ktbyers

[2016-12-04 20:11] ktbyers commented on #76
Fixed here:  https://github.com/napalm-automation/napalm-ios/pull/78/commits/c9cf4ad2b757720270ad6cc6b589f1ef62411a84

[2016-12-04 20:11] #76 closed, assigned to ktbyers

[2016-12-04 20:12] #74 closed, assigned to ktbyers

[2016-12-04 22:31] ktbyers commented on #68
I can't bring myself to implement this...if someone else wants to, submit a PR on it. You would just to add an optional_argument to pass in a protocol, telnet or ssh.

Then just switch the device_type from cisco_ios to cisco_ios_telnet.

[2016-12-04 22:31] #68 closed, assigned to ktbyers

[2016-12-04 22:50] mirceaulinic commented on #68
How does ```transport_type``` sound to you @ktbyers? The reasoning I'm asking is that we could probably offer telnet transport for other drivers as well.

And raise exception for config-related methods? Or something else? - I understand they won't work at all over telnet.

[2016-12-05 02:16] ktbyers commented on #62
These should all be covered in this PR.

[2016-12-05 02:16] #62 closed, assigned to ktbyers

[2016-12-06 17:45] ktbyers opened #79 "napalm-ios doesn't comply with napalm signature has extra arguments"
rollback()
compare()
commit_config()

[2016-12-06 18:28] ktbyers opened #80 "Fix the napalm-ios signature issue"
New test was added that is now causing unit tests to break.

[2016-12-08 01:34] ktbyers opened #82 "cisco-ios driver doesn't implement get_lldp_neighbors_detail interface filter"
Also unit tests don't catch this.

[2016-12-13 17:42] #80 closed, assigned to nobody

[2016-12-13 17:42] #79 closed, assigned to ktbyers

[2016-12-13 18:07] #50 closed, assigned to nobody

[2016-12-13 20:00] #42 closed, assigned to nobody

[2016-12-13 20:00] ktbyers commented on #33
This is done.

[2016-12-13 20:00] #33 closed, assigned to nobody

[2016-12-13 20:29] ktbyers commented on #82
See https://github.com/napalm-automation/napalm-ios/pull/84

[2016-12-14 17:14] #82 closed, assigned to nobody

[2016-12-14 17:15] #49 closed, assigned to ktbyers

[2016-12-15 04:04] mirceaulinic commented on #8
@ktbyers after the migration to the new testing framework, does this still present interest? Or is it obsolete?

[2016-12-15 04:35] ktbyers commented on #8
Let me review and see if this is done.

[2016-12-15 17:27] ktbyers opened #85 "ip scp server enable shouldn't show up in diff"
Should this be changed so that it never shows up in the diff.

[2016-12-15 17:50] sjtarik opened #86 "get_lldp_neighbors fail if capabilities not present"
### Description of Issue/Question
get_lldp_neighbors failed if device line does not have capabilities. maybe we should implement the case in textfsm and handle it?

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x ] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS

[2016-12-15 18:25] ktbyers commented on #86
@sjtarik Please post the output from the following command on your switch:

[code]

[2016-12-15 20:31] sjtarik commented on #86
I removed other regular lines. Last line breaks the logic since it does not have 5 tuples because of missing capability.

Device ID           Local Intf     Hold-time  Capability      Port ID
40:e3:d6:c9:95:2c   Gi10/10        112        W               40e3.d6c9.952c
90b1.1c7d.2e69      Gi1/13         2878                       90b1.1c7d.2e69

[2016-12-15 20:41] ktbyers commented on #86
Okay, will fix...

[2016-12-15 22:23] sjtarik opened #87 "get_mac_address_table issue processing multicast entries header"
### Description of Issue/Question
When called, get_mac_address_table throws exception while processing the multicast entries header from "show mac address-table" output

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

Sinc

[2016-12-15 22:23] sjtarik commented on #87
360      bbc2.deab.1717   dynamic ip,ipx,assigned,other Port-channel1

Multicast Entries
 vlan      mac address     type    ports
---------+---------------+-------+--------------------------------------------
   1      0100.0ccc.ccce   system Po1
   1      ffff.ffff.ffff   system Po1
  39      ffff.ffff.ffff   system Gi10/31,Gi10/32,Switch,Po1

[2016-12-16 16:20] sjtarik commented on #86
@ktbyers @mirceaulinic in the long run if there is a plan refactoring with textfsm, I can help?

[2016-12-17 01:08] sjtarik commented on #87
I realized that there are three version of the same command "show mac address-table" for 3k, 4k and 6k. Copy pasting here:

  vlan   mac address     type    learn     age              ports
  vlan     mac address     type        protocols               port
  Vlan    Mac Address       Type        Ports

Same thing with the "show lldp neighbors" command. Depending on how they handle word wrapping,

[2016-12-17 05:03] ktbyers commented on #87
@sjtarik Can you re-test this using napalm-ios 0.5.0? I did a lot of work recently on this.

For any that fail, please post the show command and its corresponding output.

[2016-12-17 11:54] dbarrosop opened #93 "Tox"
See details in the parent issue napalm-automation/napalm#327

[2016-12-18 20:17] ktbyers commented on #86
Yeah, I am not a fan of textfsm. It is incredibly hard to use/maintain.

Note, this isn't a textfsm issue versus the way we did it issue...

it is a having a large enough sample size issue to cover the possible outputs that Cisco IOS can generate.

[2016-12-19 21:55] sjtarik commented on #87
@ktbyers Kirk, I think the number of fields are right but for exception cases still getting exceptions in all three cases.

u'Total Mac Addresses for this criterion: 320'
u'*  ---  0000.0000.0000    static  No           -   Router'
u'Multicast Entries'

I will try to append cli outputs and exception cases when I have more time. I think we can follow the textfsm approach, if don't know how to handl

[2016-12-20 02:25] ktbyers commented on #87
@sjtarik Yes, please post the output from the commands (and the commands you used to generate the output). It should be pretty easy to fix it from that.

[code]

Yes, I have mixed emotions about that...that is a good way for your parsing to be broke and not know about it (i.e. you are getting errors and you are just ignoring them).

[2016-12-20 09:53] dbarrosop commented on #87
I agree with the statement. I'd rather fail than having wrong/missing data unknowingly. If the issue was too occurrent we could evaluate having a `force` mode or something as an `optional_arg` to ignore these problems rather than throwing an Exception but AFAICT this hasn't been a huge issue, has it?

[2016-12-20 17:44] sjtarik commented on #87
Personally I always like degraded but still available service :) rather than an exception but I think in a professional automation environment throwing an exception makes more sense. But my point is there will be many other exceptions depending on the features enabled and the topology.  I think we can point out in documentation that we are really strict on parsing/processing in driver functions bu

[2016-12-22 11:19] dbarrosop commented on #87
Problem is that if you relay on automation and data to take informed decisions, you expect that data to be available and correct or, at least, know when it might not be so a human can intervene. I think the right thing to do is detect the issue by failing and fix it ASAP. If it can't be fixed, then treat it somehow and have this "degraded service" as you say.

[2016-12-24 08:51] #93 closed, assigned to nobody

[2016-12-24 09:00] ktbyers commented on #87
We also need the feedback loop in NAPALM i.e. we need to get feedback that it is not working properly so the we can improve the getters.

[2016-12-24 09:02] ktbyers commented on #87
@sjtarik I still need the "show mac address-table" output from the failing devices....I need this so I can fix the problem. I also need it so I can incorporate that output (and possibly different show commands into the unit tests).

[2016-12-25 22:23] sjtarik commented on #87
@ktbyers Kirk, sorry I am still traveling. I will update the thread on 29th. Happy holidays.

[2016-12-27 03:29] ktbyers commented on #87
@sjtarik No problem :-)

[2016-12-30 19:02] sjtarik commented on #87
@ktbyers Attaching the sample data I collected. Happy new year.
[mac_sample_1.txt](https://github.com/napalm-automation/napalm-ios/files/679091/mac_sample_1.txt)
[mac_sample_2.txt](https://github.com/napalm-automation/napalm-ios/files/679092/mac_sample_2.txt)
[mac_sample_3.txt](https://github.com/napalm-automation/napalm-ios/files/679090/mac_sample_3.txt)

[2017-01-04 04:14] itdependsnetworks commented on #87
@ktbyers I know you are against textfsm, but here is a there solution we came up with from same issue.

https://github.com/networktocode/ntc-templates/blob/master/templates/cisco_ios_show_mac-address-table.template

[2017-01-04 06:06] ktbyers commented on #87
@itdependsnetworks Yes, issue is not really fixing it...that is easy enough. Issue is getting the sample of the possible output formats for a given command.

That being said, I haven't fixed this yet :-)

[2017-01-04 18:32] ktbyers commented on #87
@sjtarik You stated above you were getting exceptions due to the following three lines (in different command outputs)...unless I am misreading what you put above.

[code]

Yet, the three output files you provided had none of the above lines in them?

I ran NAPALM through the three outputs you provided and only saw one minor issue (mac_sample_1.txt would set the interface to 'Router' for a static f

[2017-01-04 18:34] ktbyers commented on #87
I did reverse engineer and fix this one output format (but I would rather have real output from a device):

[code]

[2017-01-04 18:45] ktbyers commented on #87
Okay, I found this second format for a 3560 (which covers one of your cases):

[code]

[2017-01-04 18:47] ktbyers commented on #87
@sjtarik So the one I am missing now is this one:

[code]

Which platform is this from and do you have the full output?

[2017-01-05 05:12] ktbyers commented on #87
@sjtarik See this PR https://github.com/napalm-automation/napalm-ios/pull/95

Can you test the new code and see if it fixes the issues you were running into? The new code is here:

https://github.com/ktbyers/napalm-ios/tree/devel

[2017-01-05 23:21] ktbyers commented on #63
Can you use Netmiko InLineTransfer to solve this.

[2017-01-05 23:30] ktbyers opened #96 "Proposal: change compare_config on merge operation"
Cisco IOS has the following:

[code]

It compares against the running config. This looks like a better solution than what we currently have (which is just to echo the config commands in merge file).

I have a working proof-of-concept of this.

Here is what I observed for behavior:

Test merge file that had:
[code]

Where this matched what was in current config:

What Cisco IOS returns:
[code]

Wha

[2017-01-05 23:34] ktbyers commented on #96
One more example, an ACL change where the order of the ACL has changed, but all the lines entirely match for ACL entries.

Router config:

[code]

New merge file:

[code]

What Cisco IOS reports:

[code]

What napalm-ios would show:
[code]

[2017-01-05 23:35] ktbyers commented on #96
If the 'show archive config incremental-diffs flash:/merge_config.txt', then it will fall back to old method and print some warning about this.

[2017-01-06 00:20] mirceaulinic commented on #96
That's fantastic @ktbyers!

I would be curious if NX-OS has something similar we could use. I will have a look soon and check that out!

[2017-01-06 02:03] sjtarik commented on #87
@ktbyers Hi Kirk, sorry pretty busy week. I will take care of it this weekend.

[2017-01-06 04:05] ktbyers commented on #87
@sjtarik No problem. The fix is in the napalm-ios develop branch now.

https://github.com/napalm-automation/napalm-ios/

[2017-01-06 04:41] jedelman8 commented on #96
Very cool.  Good find @ktbyers with this incremental-diffs command.

@mirceaulinic nothing like this I'm aware of on NX-OS unless we use a system generated checkpoint file (which is how napalm works today for a config replace).

[2017-01-06 07:59] dbarrosop commented on #96
+100000

This is great! Any caveat like OS support or something that we should add to the documentation?

[2017-01-06 08:32] mirceaulinic commented on #96
Thanks for info @jedelman8!

[2017-01-06 17:09] ktbyers commented on #96
@dbarrosop I didn't see any new caveats, but let me dig into it some more. I did add a handler so if the command fails (i.e. '% Invalid' it will fall back to the old way).

[2017-01-06 17:10] ktbyers commented on #96
Working branch is here:

https://github.com/ktbyers/napalm-ios/tree/devel

Note, I still have some print debugging in the code and some other minor things need cleaned up.

[2017-01-11 09:30] dbarrosop commented on #63
do you need me to do something here?

[2017-01-11 17:37] ktbyers commented on #63
No...I just need to implement it.

[2017-01-13 16:28] mirceaulinic opened #98 "`load_template` doesn't work as `load_merge_candidate` does not support `config` arg"
### Description of Issue/Question

Looks like `load_merge_candidate` does not accept the `config` arg: https://github.com/napalm-automation/napalm-ios/blob/develop/napalm_ios/ios.py#L170-L171

For this reason, the `load_template` helper won't work as it tries to send the result after the template is renders in the `config` argument:  https://github.com/napalm-automation/napalm-base/blob/develop/na

[2017-01-13 17:08] ktbyers commented on #98
See: https://github.com/napalm-automation/napalm-ios/issues/7

[2017-01-13 17:09] ktbyers commented on #98
I will see if I can fix this weekend or early next week.

[2017-01-13 17:12] mirceaulinic commented on #98
Meanwhile I was already looking at some sort of solution... has been written only by guess.

[2017-01-13 17:19] ktbyers commented on #98
How do we want to implement this...I think we should probably use the InLine transfer mechanism (or at least give the option for this).

This would allow people who for some reason can't use SCP (biggest issue being SCP mechanism requires a direct priv15 account i.e. can't do enable with separate SCP channel...Cisco limitation).

So people would have two mechanisms and they could code around to us

[2017-01-13 17:25] mirceaulinic commented on #98
@ktbyers you know the best what would be the most suitable.

From the surface I would be tempted to suggest leaving the current behaviour unchanged, provide the ability to use the `config` arg; in addition let the user choose the InLine transfer instead of SCP, by specifying an optional arg as you suggested.

... and I guess I only rephrased what you just said :)

[2017-01-16 10:43] dbarrosop commented on #7
If this works, could we completely get rid of the SCP and just load the file the user is passing into a string? That's actually how it works on the rest of the drivers. Files are usually not involved in the communication with the devices.

[2017-01-16 17:29] ktbyers commented on #7
Yes, we should leave SCP has the primary mechanism. The Netmiko InLineTransfer is still a file transfer (i.e. writes a file in flash). It also has some file manipulation that goes on to get it work with TCL (i.e. newlines and errors on TCL terminator character).

Because of this the SCP file transfer mechanism should be the default/preferred and the other mechanism an alternative that can be speci

[2017-01-16 17:47] mirceaulinic commented on #7
I understand this is very tricky, but I do you mean that someone needs to specify a certain flag in order to be able to use `device.load_merge_candidate(config='my fancy config')`?

A user has to be able to execute both:

- device.load_merge_candidate(config='my fancy config')
- device.load_merge_candidate(filename='/path/to/my/file')

This is the behaviour of the rest of the drivers.

[2017-01-16 19:26] ktbyers commented on #7
@mirceaulinic Yes, it will work as required by the NAPALM API i.e. you can do both of these operations:

[code]

But by default both of these operations will use Secure Copy.

There will also be a separate optional argument you can specify whereby you can transfer a file completely inside the SSH (or telnet) session using TCL behind the scenes.

This will allow telnet to work and fix the Cisco SCP

[2017-01-16 19:29] ktbyers commented on #18
A lot has changed in Netmiko since this was reported.

[2017-01-16 19:29] #18 closed, assigned to nobody

[2017-01-16 19:32] mirceaulinic commented on #7
Totally. Thanks very much for explanation! :)

[2017-01-18 18:48] ktbyers commented on #7
PR for this here https://github.com/napalm-automation/napalm-ios/pull/100

[2017-01-18 18:48] #7 closed, assigned to ktbyers

[2017-01-18 18:48] #11 closed, assigned to nobody

[2017-01-18 18:49] #34 closed, assigned to nobody

[2017-01-18 18:53] ktbyers commented on #63
https://github.com/napalm-automation/napalm-ios/pull/100

optional_args['inline_transfer'] = True

Will cause TCL transfer to occur which uses the main ssh connection (which supports secret argument).

[2017-01-18 18:53] #63 closed, assigned to ktbyers

[2017-01-18 18:53] ktbyers commented on #87
I think this is all fixed.

[2017-01-18 18:53] #87 closed, assigned to nobody

[2017-01-18 18:54] ktbyers commented on #96
Implemented here: https://github.com/napalm-automation/napalm-ios/pull/100

[2017-01-18 18:54] #96 closed, assigned to ktbyers

[2017-01-18 18:54] ktbyers commented on #98
Fix for this is here:

https://github.com/napalm-automation/napalm-ios/pull/100

[2017-01-18 18:54] #98 closed, assigned to nobody

[2017-01-19 10:58] XioNoX opened #101 "Some IOS devices don't support ttl and timeout traceroute arguments"
### Description of Issue/Question

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)
[code]
### IOS version
(Paste verbatim output from `show version` between quotes below)
[code]

### Steps to Reproduce the Issue
On at least this version of IOS, traceroute doesn't support the ttl and timeout arguments:
[code]
But napalm sets defaults at: TRACE

[2017-01-19 11:03] mirceaulinic commented on #101
In that case I think we should default them to None and send them to the device only when the user requests.
I am not a fan of this behaviour either and I think that's enough reason to change it - could you please open a PR to change this in the napalm-base: https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/base.py#L1177 defaulting all of them to `None` and we'll synchronis

[2017-01-19 11:28] XioNoX commented on #101
The specific issue with traceroute is on https://github.com/napalm-automation/napalm-ios/blob/develop/napalm_ios/ios.py#L1604
If we set to None, then it doesn't know what to use to calculate max_loops.
If there is a documented way of calculating a default max_loops, I can add it though.

I didn't run into that issue with ping.

[2017-01-19 11:35] mirceaulinic commented on #101
What's the default maximal TTL & timeout value on IOS?

[2017-01-19 17:54] ktbyers commented on #101
In the above the "% Invalid input" corresponds to the timeout, not the TTL (i.e. it looks like it accepted the TTL).

You need to add an IP to the traceroute to see the options in that context (in the context sensitive help):

[code]

[2017-01-19 17:59] XioNoX commented on #101
In the first comment, the marker originally points at the ttl field, but github formating makes it appear afterwards.
Adding an IP doesn't show more auto-completion
[code]

[2017-01-19 18:01] ktbyers commented on #101
Ooops, my bad...missed your earlier comment on this.

[2017-01-19 18:22] XioNoX commented on #101
TTL seems to be around 254 or 255 depending on the different doc I found online.

A max_loops,of 2700 (default with the current constants) works fine for me, but no idea if it would be the case for everyone.

[2017-01-20 01:16] XioNoX opened #103 "get_lldp_neighbors() fails with long neighbor names"
### Description of Issue/Question
get_lldp_neighbors() seems to depend on spaces to separate fields of the "show lldp neighbors" command.
In some cases, at least that IOS version, the output can have the columns "touching" each others, especially for neighbor with long host-names.

Device ID           Local Intf     Hold-time  Capability      Port ID
foo.foobar.foo   Gi2/0/2        121        O,R

[2017-01-20 01:27] mirceaulinic commented on #103
Seems legit.

I think this is even worse than https://github.com/napalm-automation/napalm-ios/issues/74. Wondering if it would be possible to extract the information when the text does not respect a certain pattern...
But maybe @ktbyers can pull another rabbit out of the hat here.

[2017-01-20 01:41] ktbyers commented on #103
@XioNoX Can you provide the CLI output from (for the above device)

show lldp neighbors

@mirceaulinic We can probably catch that ValueError exception and re-raise another exception and include the show command output (going forward).

[2017-01-20 01:48] XioNoX commented on #103
@ktbyers I emailed the output directly to you.

[2017-01-21 11:03] kaage opened #104 "Unexpected output when trying to get_mac_address_table"
### Description of Issue/Question

Got following error when trying to collect MAC-address table from IOSvL2 switch.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

This is sample output of MAC-address table in my device:
[code]

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[2017-01-21 18:04] ktbyers commented on #104
@kaage Test against the napalm-ios develop branch. This issue should be fixed.

Thanks.

[2017-01-21 18:04] #104 closed, assigned to nobody

[2017-01-21 20:07] kaage commented on #104
I can confirm it works in development version!

[2017-01-23 13:10] mirceaulinic opened #105 "Add VRF support to base traceroute and ping"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/pull/185

[2017-01-25 15:24] ebeahan opened #106 "MAC address formatting not matching convention"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-ios version
[code]

### IOS version
[code]

### Steps to Reproduce the Issue

Per discussions on Slack, napalm drivers should normalize MAC addresses to the 11:AA:22:BB:33:CC convention. Currently napalm-ios is returning MAC addresses in the

[2017-01-25 15:25] ebeahan commented on #106
Am working on a PR to address.

[2017-01-25 15:40] ktbyers commented on #106
Okay, if the format is not matching the expected format this should fail the unit tests...so it also means there is a NAPALM unit test issue that needs corrected.

[2017-01-25 18:56] ebeahan commented on #106
Would that mean adjusting the existing model here with a more stringent check? Still getting familiar with the napalm testing structure.

https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/test/models.py#L172

[2017-01-25 19:00] mirceaulinic commented on #106
As per doc of the `mac` helper, it should transform this anyway: https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/helpers.py#L205-L211

Otherwise, we need to address it.

[2017-01-25 19:12] ktbyers commented on #106
It is probably an error in the formatting of the expected_result.json files in:

https://github.com/ktbyers/napalm-ios/tree/devel/test/unit/mocked_data/test_get_mac_address_table

We will just need to update these expected_result.json files to be the proper format.

[2017-01-28 22:29] mirceaulinic opened #107 "Add vrf and neighbor_address arguments for get_bgp_neighbors and get_bgp_neighbors_detail"
### Description of Issue/Question

Ref: https://github.com/napalm-automation/napalm-base/issues/105

[2017-01-30 10:19] dbarrosop commented on #14
How is this one going? It's still relevant?

[2017-01-30 10:20] dbarrosop commented on #8
Still relevant?

[2017-01-30 17:32] #8 closed, assigned to ktbyers

[2017-01-30 17:34] ktbyers commented on #14
This should be fixed now.

[2017-01-30 17:34] #14 closed, assigned to ktbyers

[2017-01-31 16:36] mirceaulinic opened #111 "Inconsistent MAC and IPv6 format for several getters"
### Description of Issue/Question

https://github.com/napalm-automation/napalm-ios/pull/110 shows that as of napalm-ios 0.6.0, the following methods need a bit of work and use the `ip` and `mac` napalm-base helpers:

- [x] get_mac_address_table, fixed in https://github.com/napalm-automation/napalm-ios/pull/110
- [x] get_arp_table, fixed in https://github.com/napalm-automation/napalm-ios/pull/110
-

[2017-01-31 17:17] ktbyers commented on #111
I can own this part...should improve napalm-base tests such that standardized format for mac-address, IP address is validated as part of unit tests.

[2017-02-01 09:46] dbarrosop commented on #111
I suggest holding a bit on this. Let's discuss it next week. I personally think we should keep the current getters in maintenance mode and focus on OC. The models have builtin type checking so we get a lot of stuff for free.

[2017-02-02 21:32] ktbyers opened #112 "Is cntl-C a control character for TCLSH"
cntl-C is required for banner, but reports that this is causing TCLSH for inline transfer to terminate.

[2017-02-03 00:12] bdlamprecht commented on #112
This could be a limitation of Cisco's tclsh, but I figured I would mention it.

tclsh appears to interpret multiple spaces in a row as a single space.
For example, in the "banner login" section, the following:

` ...SNIP...`
`*[3 spaces] legitimate business purposes only. The actual or attempted [6 spaces]*`
`*[3 spaces] unauthorized access, use, or modification of this system is [5 spaces]*`
` ..

[2017-02-03 17:22] ebeahan commented on #106
Fix merged in https://github.com/napalm-automation/napalm-ios/pull/110.

[2017-02-03 17:22] #106 closed, assigned to nobody

[2017-02-07 18:23] #10 closed, assigned to ktbyers

[2017-02-07 20:19] #86 closed, assigned to ktbyers

[2017-02-07 20:20] #103 closed, assigned to nobody

[2017-02-08 20:35] #105 closed, assigned to nobody

[2017-02-12 00:39] mirceaulinic opened #117 "`get_interfaces_ip`: add `primary_ip` key"

[2017-03-02 17:08] MatthiasGabriel opened #119 "Multiple parallel requests not handled correctly"
### Description of Issue/Question
It seems that napalm-ios doesn't handle multiple parallel requests correctly, while other drivers like junos, iosxr or eos are capable of doing this.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup
/etc/salt/proxy

[code]

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-i

[2017-03-02 17:36] mirceaulinic commented on #119
Hi @MatthiasGabriel - thanks for reporting this!

I've had the same issues with IOS-XR in the past. As all requests are executed over the same session, the commands will overlap. All we can do with IOS/IOS-XE is screen scarping, so we don't have any mechanism similar to NETCONF able to assign an unique request ID and then identify.

The solution I found in XR is a simple and straightforward mutex

[2017-03-02 18:17] ktbyers commented on #112
I will test...there were definitely some nuances to TCLSH when I wrote the Netmiko inline file transfer.

[2017-03-03 00:26] ktbyers commented on #119
Yes, that should be fine.

I assume the user would just manually acquire the lock (i.e. the default would be no locking).

[2017-03-03 07:40] mirceaulinic commented on #119
The configuration lock will not be touched in that case - it's just a naming coincidence. All it does is sort of "virtual" lock per command, so two or more requests over the same SSH session won't overlap.
So it will preserve the current behaviour. I have an IOS device to test next week and I can give it a try and see.

[2017-03-03 07:52] dbarrosop commented on #119
@mirceaulinic is that because salt is reusing the same ssh connection? Calling `getters` over different ssh connections should be fine.

[2017-03-03 07:54] mirceaulinic commented on #119
Yes, that's correct @dbarrosop - they are using the same SSH connection.

[2017-03-03 08:02] dbarrosop commented on #119
Disclaimer: Now I am talking out loud mostly out of curiosity and ignorance.

Could the minion just fork itself for each "set of queries"? On minion creation you just save the data necessary to create a new connection and everytime salt sends a query to the minion you just fork a process, create a new instance of the object, execute the query/queries and close it. This would allow you to run paral

[2017-03-03 08:12] mirceaulinic commented on #119
Unfortunately no, thats not how proxy minions work today. They've been designed to keep the connection always alive, to be similar to the regular minions. However, the main difference is that regular minions don't use SSH as transport, so our case is slightly different.
Anyway, going full parallel should not be a limitation IMHO and we should address that.

[2017-03-06 03:11] mirceaulinic opened #121 "New feature: commit confirmed"
See details in the parent issue napalm-automation/napalm-base#214

[2017-03-08 11:29] mirceaulinic commented on #121
Hi @ktbyers - I recall we have discussed about this in the past and - if I'm not wrong - you said you have an idea how to implement this. Is that correct? If so, could you please expose a bit the idea, I'd like to give it a try. Thanks!

[2017-03-08 17:38] ktbyers commented on #121
@mirceaulinic It looks like we should be able to do something like this (note, time is in minutes).

[code]

[2017-03-08 17:42] ktbyers commented on #121
@mirceaulinic I also see this configuration lock which we probably should be using:

[code]

In another SSH session, I then tried:

[code]

[2017-03-08 18:12] mirceaulinic commented on #121
Ah that's really nice! I believed that's going to be way harder.
I plan for next week to focus more on the whole epic: https://github.com/napalm-automation/napalm-base/issues/214 and I will try an implementation if you don't beat me :)

[2017-03-08 18:17] ktbyers commented on #121
@mirceaulinic Yes, Cisco IOS for all its automation failings has so many features in it...that you can retrofit a lot of things onto it.

[2017-03-12 16:50] ktbyers commented on #21
Revisiting this from a while back.

@jwbensley I think you have a misunderstanding of the `configure replace` operation at least with what you stated here:

[code]

`configure replace` already acquires an automatic lock during its operation (as pointed out by @jwbensley) so the only thing that is missing is a lock for configuration merge operation.

I think it is a mistake to try to `stream` the c

[2017-03-14 20:07] ktbyers opened #123 "Improve error message on missing secret argument"

[2017-03-15 15:44] mirceaulinic opened #125 "load_merge_candidate is not additive"
### Description of Issue/Question

Executing a series of load merge operations, it preserves only the latest config:

[code]

I think it would require reading the `merge_config.txt` file and append the latest config addition before writing the file on the flash.

[2017-03-15 15:47] mirceaulinic commented on #125
To read the content of the merge_config.txt, we could probably do:

[code]

In case the file does not exist yet, it will throw:

[code]

Then we don't need to append, but simply load.

After commit, I think we can delete that file.

[2017-03-15 16:47] ktbyers commented on #125
@mirceaulinic

People are going to shoot themselves in the foot with this on Cisco IOS...so is this really the operation we want?

If we are going to make this change, I think we need to clearly let people know (as it will probably cause some people some major pain).

I think it is probably the right move (for consistency with our configuration operations in NAPALM), but we definitely need to comm

[2017-03-15 16:51] ktbyers commented on #125
@mirceaulinic FYI, I don't think we should delete the file, I think we should just always zero it out (like we do on rollback operation). We will need to make sure this is done on commit.

I think this will run into fewer errors than deleting the file.

[2017-03-15 17:13] mirceaulinic commented on #125
Yes @ktbyers - IMO we should document this properly. However, if I recall correctly the merge feature itself has been introduced relatively soon.

Anyway, if we want the API to work consistent and have the behaviour of loading changes into the candidate candidate config and visible only after commit, I think we have to do it. It is like that already, but the candidate config should support multipl

[2017-03-15 17:18] ktbyers commented on #125
@mirceaulinic Inline merge is relatively recent, but what would be the behavior of non-inline merge (i.e. of a file merge is that additive as well)?

We should do a design spec of how this is going to work (as part of this issue) as there are a lot of different scenarios.

[2017-03-15 17:26] mirceaulinic commented on #125
I would need some more background on this @ktbyers, please.

I understand there are two possibilities to load merge:

- using TCL (is this the inline one?)
- using SCP

For the SCP I was thinking we could read the `merge_config.txt` file from the flash, append the config the user wants, then save it (on flash, on `merge_config.txt`).
Regarding the TCL way I haven't look closer and I assume I'm mis

[2017-03-15 17:27] kaage opened #126 "ValueError: Failure processing show lldp neighbors detail"
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

Connecting to Cisco IOSv L2-switches and gathering LLDP neighbors detail.

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` betwe

[2017-03-15 17:55] ktbyers commented on #125
@mirceaulinic Yes, there are four combinations for merge:

inline (using TCL) using config argument
inline (using TCL) using file
SCP using config argument
SCP using file

But, yes ultimately the two use cases are inline (TCL) and SCP (and then it is just a matter of do we read or write a file beforehand).

The main question I have is...do we also do additive when not using the `config` argument?

[2017-03-15 18:01] mirceaulinic commented on #125
That sounds good to me too. I can try a PoC for this next week. Thanks @ktbyers

[2017-03-16 07:16] dbarrosop commented on #125
I think it makes sense that the merge operate works as @mirceaulinic described initially so it should be additive as if a user doesn't want that behavior it's as simple as discarding the candidate. This is how other drivers work.

I will leave the technical details up to you, you don't need me there ;)

@ktbyers how viable and useful is to default to the inline transfer? Seems as powerful as the s

[2017-03-16 23:18] ktbyers commented on #125
@mirceaulinic This should be rolled into the unit tests for real devices (i.e. we should have this as part of the unit tests). Keep this issue open and I will possibly see if I can work on that.

[2017-03-17 13:33] piter50 opened #127 "Multivalue port entries in 4500 mac address table cause get mac address to fail"
### Description of Issue/Question
on Cisco IOS 4500 routers, when running net.mac, the output when containing multi-value port fields (comma separated values), causes the process to fail.
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between q

[2017-03-17 18:27] mirceaulinic opened #128 "Enhance `get_arp_table` and `get_mac_address_table` with filtering arguments"
See details in the parent issue napalm-automation/napalm-base#217

[2017-03-18 15:31] ktbyers commented on #125
@dbarrosop I think the Secure Copy is the more reliable mechanism. I think there are more errors/problems we will run into with the inline transfer.

We should probably think about doing things to remove errors (like auto-enable archive; better error messages, etc.)

[2017-03-24 10:29] kaage opened #129 "Failure processing show lldp neighbors detail"
### Description of Issue/Question

napalm-ios cannot process lldp neighbors detail on one of my swithces (probably because of some end devices speaking LLDP and having neighborship). I have plenty of similar switches with equal hardware and software and they are working.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios

[2017-03-24 10:42] dbarrosop commented on #129
Can you obscure the output somehow? We will need it to build a test case.

[2017-03-24 14:08] kaage commented on #129
I did and also added it to issue description. I tried to be carefull and not change any structure of data. All names and serial numbers etc. are equal length with original ones (and identical type of characters).

[2017-03-25 12:17] kaage opened #130 "Implement get_optics getter for IOS devices"
### Description of Issue/Question

I would need to get optical rx power from Cisco 2960x and Cisco 4500x. It seems get_optics is doing just what I need but doesn't support IOS yet.

[2017-03-25 17:15] ktbyers commented on #130
You are just saying you want this feature?

If so, you need to write a Pull Request for it.

[2017-03-29 14:15] sorano opened #132 "Add support to napalm-ios for netmiko telnet type"
### Description of Issue/Question
Feature request:
Add support to napalm-ios to force and/or failover to netmiko telnet type.

netmiko supports telnet with the telnet device type:
`device['device_type'] = 'cisco_ios_telnet'`

https://github.com/ktbyers/netmiko/issues/159#issuecomment-245977602

[2017-03-29 14:22] mirceaulinic commented on #119
Hi @MatthiasGabriel - [netmiko 1.3.0](https://pypi.python.org/pypi/netmiko) has been released and includes the changes from https://github.com/ktbyers/netmiko/pull/407. Can you upgrade and confirm it works now?
For the moment I am going to close this issue, but feel free to reopen if still not fixed.

[2017-03-29 14:22] #119 closed, assigned to nobody

[2017-03-29 19:33] ktbyers commented on #132
@dbarrosop @mirceaulinic What are your thoughts on adding an optional_argument `ios_transport` which defaults to SSH (but also supports telnet).

I would then force the transfer mode to inline (as it would have to use the inline-transfer that uses TCL).

[2017-03-29 19:34] ktbyers commented on #130
@kaage is working on a pull-request for this.

[2017-03-29 19:45] ktbyers commented on #129
@kaage Can you also get me the `show lldp neighbors` for this (obscure anything you need to obscure, but try to keep fields the same length).

I can work out making them consistent between the `lldp details` and the `show lldp neighbors`.

[2017-03-29 20:06] ktbyers commented on #129
Okay, I think the one calling itself as 'not advertised' for system name is breaking it:

[code]

[2017-03-29 20:16] ktbyers commented on #129
@kaage Never mind on the `show lldp neighbors`...I think I worked it out.

[2017-03-29 20:17] ktbyers commented on #21
I am going to close this and someone can re-open it (if there is active interest in working on it).

[2017-03-29 20:17] #21 closed, assigned to nobody

[2017-03-29 20:18] ktbyers commented on #38
I think this is working properly...there is a special hostname handler.

[2017-03-29 20:18] #38 closed, assigned to ktbyers

[2017-03-29 20:25] ktbyers commented on #126
@kaage  So what does `show lldp neighbors` show here?

I am particular interested in what it shows for `capabilities`.

[code]

[2017-03-30 04:25] #129 closed, assigned to nobody

[2017-03-30 04:25] #126 closed, assigned to nobody

[2017-03-30 06:07] kaage commented on #129
Here comes `show lldp neighbors` output: (unfortunately neighbors has changes meanwhile)

[code]

[2017-03-30 09:20] kaage commented on #126
Here it comes:

[code]

[2017-03-30 19:01] kaage commented on #129
I can confirm this fix works as well.

[2017-03-31 19:04] kaage commented on #130
I wrote pull-request for this: [134](https://github.com/napalm-automation/napalm-ios/pull/134)

[2017-04-03 13:45] jorgenbl opened #135 "Exception (Socket.error) when connecting to cisco device"
### Description of Issue/Question
I get a "Socket error" each time I connect to a cisco device.
The  get_facts() function seem to work as it should. It seems to be related to handling the connection.
See below for example. (tested with Python2.7)
Problem similar when testing on Python3.6.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Set

[2017-04-03 13:54] ktbyers commented on #135
I have been a bit out of the loop on the __del__ method work. I think @mirceaulinic is working on this.

It shouldn't hurt anything so in the interim until we fix this, you can gracefully handle it using a try/except statement.

[2017-04-03 13:57] jorgenbl commented on #135
OK, thanks for the quick response.

[2017-04-04 07:29] dbarrosop commented on #135
@jorgenbl are you getting that error using the latest `napalm-base`? Could you try to upgrade with `pip install -U napalm-base` and let us know if it still happens?

[2017-04-04 07:35] dbarrosop commented on #132
+100

But call it just transport, I don't think it's `ios` specific and if we build a generic `napalm-netmiko` it might end up supporting that same optional_arg

[2017-04-04 07:36] jorgenbl commented on #135
root@90e9d99176d9:/# pip install -U napalm-base
Requirement already up-to-date: napalm-base in /usr/local/lib/python2.7/dist-packages
Requirement already up-to-date: pyYAML in /usr/local/lib/python2.7/dist-packages (from napalm-base)
Requirement already up-to-date: jinja2 in /usr/local/lib/python2.7/dist-packages (from napalm-base)
Requirement already up-to-date: jtextfsm in /usr/local/lib/python2

[2017-04-04 07:36] dbarrosop commented on #135
Ok, I will take a look during that weekend. Thanks for reporting.

[2017-04-04 08:00] mirceaulinic commented on #132
Yes, i would suggest the same - i think `transport` would make more sense and could be used by few other drivers.

[2017-04-08 14:53] dbarrosop commented on #135
I proposed a fix for this here: https://github.com/napalm-automation/napalm-base/pull/235

[2017-04-18 17:00] ktbyers commented on #130
Closing as we have a pending PR for this.

[2017-04-18 17:00] #130 closed, assigned to nobody

[2017-04-18 17:16] ktbyers commented on #121
We have PR on this. Closing the issue.

[2017-04-18 17:16] #121 closed, assigned to ktbyers, mirceaulinic

[2017-04-21 06:45] #135 closed, assigned to nobody

[2017-04-27 17:53] ktbyers opened #140 "Implement better solution for handling hostname changes on replace and merge"
Probably just make search pattern be '#' and get rid of the 12 second timeout.

[2017-04-29 03:27] sek3b opened #141 "device.get_lldp_neighbors() does not support spaces in Device ID"
### Description of Issue/Question
device.get_lldp_neighbors() does not support spaces in Device ID

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` between quotes

[2017-04-29 03:46] sek3b commented on #141
So i have created a small change looking for regex of two space or more.

[2017-04-29 16:11] ktbyers commented on #141
Splitting on >=2 spaces won't work as that won't work between the "Device ID" field and the "Local Intf" field (that can actually go to 0 spaces).

@Shayneeking Can you test the current `develop` branch (as there have been fixes here since 0.6.1).

[2017-04-30 17:09] ktbyers opened #143 "Configure replace: strange behavior of self-signed certificate (add to docs)"
### First Issue

Using napalm-ios/napalm-base develop branch as of 2017-04-29 and netmiko 1.3.0 (and sometimes develop version on this same date).

Running on a CSR1000V using
[code]

If I use `configure replace` operation and the file contains the following:

[code]

Then the SCP transfer would fail.

It would fail to transfer the file. Debugging on router side indicated the SCP communication sta

[2017-04-30 17:32] ktbyers opened #144 "Timing issue when using configure replace with inline transfer"
MD5 would fail.

Basically, it seems like the SSH session get out of sync in some way and not capture the actual MD5 output.

[2017-04-30 17:45] ktbyers commented on #143
Here is the error you get when the SCP transfer fails:

[code]

[2017-05-01 02:18] sek3b commented on #141
@ktbyers Still running into the issue using
https://raw.githubusercontent.com/napalm-automation/napalm-ios/develop/napalm_ios/ios.py
My fix should work on anything other than when their is one space between "Device ID" field and the "Local Intf" field

[2017-05-01 16:46] ktbyers commented on #144
Fixed in Netmiko here:

https://github.com/ktbyers/netmiko/commit/3224aad45e5b93486185123f26ccaec27ce71b7b

[2017-05-01 17:47] ktbyers commented on #141
Yes, but we know that happens (i.e. I know that the field between Device ID and Local Intf can be one space or zero spaces).

In other words, I have previously had to fix an issue(s) because of Device ID and Local Intf can go down to zero spaces.

Can you post the error that you receive when testing with the `develop` branch?

[2017-05-01 17:56] sek3b commented on #141
`Traceback (most recent call last):
  File "hello.py", line 13, in <module>
    print (device.get_lldp_neighbors())
  File "/var/opt/python/helloworld/testPythonVM/lib64/python3.6/site-packages/napalm_ios/ios.py", line 679, in get_lldp_neighbors
    local_port = self._expand_interface_name(local_int_brief)
UnboundLocalError: local variable 'local_int_brief' referenced before assignment`

Is the er

[2017-05-01 17:58] ktbyers commented on #141
@Shayneeking Can you post the output of `show lldp neighbors detail` from the device that is failing (just obfuscate any sensitive information)

[2017-05-01 18:01] sek3b commented on #141
[code]

[2017-05-01 21:55] ktbyers opened #145 "napalm_install_config using replace operation is always transfering file on IOS"
This is causing the operation to be very slow on no change (as inline transfer for full replace is slow).

I think this is because the current running config is saved to flash:candidate_config.txt at a certain point and contains the 'file prompt quiet' command (which causes it to be different from the file that is being pushed).

[2017-05-05 20:25] itdependsnetworks opened #148 "Is autodetect dir always needed?"
### Description of Issue/Question

Using getters, would not seem like you would always need to auto_detect the dir filesytem.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ x ] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `

[2017-05-05 21:03] ktbyers commented on #148
Currently, it does it at open() action.

Easiest solution might just be to try/except the error on dir (in open() ) and then if it fails just set it to default value.

In this way it would not fail on getters and would set it to its default value and would only fail latter when you tried to use it for config operations.

It would also not require I figure out all the config methods where you might

[2017-05-09 09:47] dbarrosop commented on #148
You could turn the variable that returns the filesystem into a property that either uses "cached" data or calls a method that caches the data. Something like:

[code]

[2017-05-09 16:33] ktbyers commented on #148
@dbarrosop But you wouldn't have any cached data...as it fails if you don't have privilege level 15?

[2017-05-31 04:06] tyagian commented on #14
For me its checking on Cisco router:
Router-1#dir
%Error opening disk0:/ (No such device)
Cisco 7200. user privilege 15 to connect ssh user to skip user mode.
How can this be solved?

[2017-05-31 09:30] sincerywaing opened #154 "ios issue - can't determine file system"
### Description of Issue/Question
when using ios for ansible, encounter below issue -

fatal: [router1]: FAILED! => {"changed": false, "failed": true, "msg": "cannot connect to device: An error occurred in dynamically determining remote file system: dir router1#\nrouter1#\nrouter1#"}

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [. ] Yes
- [ ] No

### Setup

[2017-05-31 09:32] sincerywaing commented on #154
I believe this has been discussed before but I can't figure out if there is any workaround.

[2017-05-31 14:21] sincerywaing commented on #154
command line error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/napalm_ios/ios.py", line 123, in open
    self.dest_file_system = self.device._autodetect_fs()
  File "/usr/local/lib/python2.7/dist-packages/netmiko/cisco_base_connection.py", line 149, in _autodetect_fs
    "system: {} {}".format(cmd, output))
ValueError: An

[2017-05-31 14:53] sincerywaing commented on #154
if I specify dest_file_system = ios, it seems to work. but I can't filter any information -

PLAYBOOK: test.yaml ************************************************************
1 plays in test.yaml

PLAY [Test Inventory] **********************************************************

TASK [get facts from device] ***************************************************
task path: /home/shawn/ansible-workspace/

[2017-05-31 16:32] ktbyers commented on #154
@sincerywaing What does `dir` on that router show?

Yes, you can disable the autodetect function by setting the dest_file_system, but you will need to set it to the correct value (if you need any of the NAPALM-IOS config operations).

[2017-06-01 03:18] sincerywaing commented on #154
Thanks Kirk!

Here is the dir

router1#dir
Directory of flash0:/

    1  drw-           0  Nov 28 2016 11:16:52 +00:00  .Trashes
    2  -rw-       16344  Jul 20 2010 19:43:18 +00:00  DOM.JS
    3  -rw-        4096  Nov 28 2016 11:16:52 +00:00  ._.Trashes
 <snip, total around 120 lines>

  429  -rw-        3412  Jul 20 2010 19:43:18 +00:00  xml.template

1023946752 bytes total (592633856 bytes free

[2017-06-01 03:37] sincerywaing commented on #154
@ktbyers

even I specify dest_file_system to flash0:, still get error

fatal: [router1]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "dev_os": "ios",
            "filter": [
                "facts",
                "interfaces",
                "bgp_neighbors"
            ],
            "hostname": "router1",
            "ignore_n

[2017-06-01 16:19] ktbyers commented on #154
@sincerywaing Does it work if you do the following:

[code]

Try using a value of 2 and a value of 4 (for global_delay_factor)

[2017-06-02 04:54] sincerywaing commented on #154
@ktbyers Thanks Kirk! making global_delay_factor = 4 did the trick!

The only thing I still have concern is bgp_neighbors filter, which always return empty.

I have bgp neighbors in specific vrfs but not in global, does this fuction only search bgp neighbor in global vrf?

[2017-06-02 17:18] ktbyers opened #156 "For BGP neighbor information (determine if address family is not negotiated)"
Decide how to handle this case:

[code]

[2017-06-02 17:19] ktbyers commented on #156
See this issue:

https://github.com/napalm-automation/napalm-ios/pull/153

[2017-06-02 17:37] ktbyers commented on #154
Yes, current get_bgp_neighbors only supports 'global' VRF.

Someone needs to write the support to add support for other VRFs.

We have a PR outstanding to add IPv6 AFI support into get_bgp_neighbors, but still don't have support for other VRFs.

[2017-06-02 17:37] #154 closed, assigned to nobody

[2017-06-02 17:43] ktbyers commented on #27
Cleaning up some stale items...

[2017-06-02 17:43] #27 closed, assigned to nobody

[2017-06-02 20:39] ktbyers commented on #23
In this PR:

https://github.com/napalm-automation/napalm/pull/379/files

[2017-06-03 12:08] dbarrosop commented on #23
Fixed via napalm-automation/napalm#379

[2017-06-03 12:08] #23 closed, assigned to nobody

[2017-06-04 16:30] ktbyers commented on #14
@tyagian If you set this to something:

[code]

Then it will no longer due the auto-detect.

Note, the NAPALM config operations won't work here, but the NAPALM getters should.

For the NAPALM config operations to work, you need a file system on the device. So you will need to create one using GNS3...I assume this is GNS3?.

[2017-06-04 19:15] itdependsnetworks opened #158 "get_mac_table issue"
### Description of Issue/Question

When there is multiple mac addresses to a given mac, it can by multi-lined, which seems to trip up the parser.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ ] Yes
- [ x ] No

Just leaving a placeholder to get back to this issue.

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` b

[2017-06-05 09:01] mirceaulinic commented on #158
Thanks for submitting this @itdependsnetworks. As you have already the environment to test this, would you be able to submit a fix?

[2017-06-05 09:03] mirceaulinic commented on #144
@ktbyers as pre your previous comment this seems to be solved. Can we close the issue?

[2017-06-05 09:06] mirceaulinic commented on #143
I think we can close also this one after merging https://github.com/napalm-automation/napalm/pull/381?

[2017-06-05 09:08] mirceaulinic commented on #132
Hi @sorano - would you be able to submit a pull request with the changes required for this?
Netmiko seems to have good support for telnet so I assume it's pretty easy.
Thanks!

[2017-06-05 11:34] itdependsnetworks commented on #158
Yes, I'll try and submit a PR for this and the issue 148.

[2017-06-05 15:45] ktbyers commented on #143
@mirceaulinic Let's leave this open for a couple more months. There still was a strange issue of why the SCP would fail with the self-signed certificate that I want to looki nto some more.

[2017-06-07 02:02] ktbyers commented on #158
@itdependsnetworks What is the model, IOS version that this is from?

[2017-06-08 00:36] #144 closed, assigned to nobody

[2017-06-08 20:01] ktbyers opened #160 "Parse show interfaces into sections in get interfaces code"
Current implementation can have potential mismatch where some variables are regex matching, but not on the right section.

[2017-06-14 09:49] jemcek opened #161 "Shutdown BGP neighbours are not parsed correctly"
### Description of Issue/Question
If a BGP neighbour is Admin shutdown, the key "is_enabled" has value True instead of False

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [* ] Yes
- [ ] No

### napalm-ios version
[code]

### IOS version
[code]

### Steps to Reproduce the Issue
In case the bgp neighbour 10.1.1.1 is shutdown, the output from "show bgp all summa

[2017-06-14 17:05] ktbyers commented on #161
@jemcek Can you retest this using the `develop` branch?

`get_bgp_neighbors` was re-written recently (in this PR):

https://github.com/napalm-automation/napalm-ios/pull/153

[2017-06-15 07:51] jemcek opened #162 "Ping module return values"
### Description of Issue/Question
The return values from PING module on IOS is probably not correct in case of destination unreachable response.

1) result status is "success" ("error" on Junos)?
2) with 2 echo requests sent the result is
     {...
       "packet_loss": -2,
       "probes_sent": 0,...
      ...}

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [

[2017-06-15 11:35] jemcek commented on #161
I tested the development branch and I can confirm that this issue is solved.

However, there is another problem now, that is not present int the master branch (because of the different show commands used).

If the bgp configuration is like this :

[code]

then the command that is used inside the get_bgp_neighbours routine also returns the Multicast peerings detail:

[code]

In my case this causes

[2017-06-15 16:17] ktbyers commented on #161
Can you post the output from the following:

[code]

We can then update the unit tests and correct the problem. Thanks.

[2017-06-16 11:29] jemcek commented on #161
Here is the output:

[bgp-output.txt.zip](https://github.com/napalm-automation/napalm-ios/files/1080599/bgp-output.txt.zip)

[2017-06-16 16:05] sincerywaing opened #163 "Second Deployment will fail if merge_config.txt or rollback_config.txt already exist"
### Description of Issue/Question
The first time deployment works fine, however it leaves two files in flash:
merge_config.txt
rollback_config.txt
if one want to do diff and rollback.
Then above two files are never got deleted?
Same code coming with a different command line deployment:
code will crash if above two files are not deleted -

so is there a way to delete above two files before we do co

[2017-06-16 16:09] sincerywaing commented on #163
I mean I can run delete command blindly before compare, but it just sounds not quite efficient?
another idea would be append a date/time to the file name so it won't be same?

[2017-06-18 19:50] ktbyers commented on #163
@sincerywaing Okay, I just did this and don't see an issue:

[code]

[code]

[2017-06-18 19:51] ktbyers commented on #163
Also your SSH session above indicates that the SSH session closed, it doesn't look like a file transfer issue?

[code]

It shouldn't care the files already exist, it will just overwrite them.

[2017-06-18 20:56] ktbyers opened #164 "get_mac_table not parsing routed ports correctly"
cat4500e-universalk9.SPA.03.04.05.SG.151-2.SG5.bin
Cisco IOS Software, IOS-XE Software, Catalyst 4500 L3 Switch Software (cat4500e-UNIVERSALK9-M), Version 03.04.05.SG RELEASE SOFTWARE (fc1)
WS-C4506-E

Unicast Entries
vlan mac address type protocols port
---------+---------------+--------+---------------------+-------------------------
60 0001.d800.022c dynamic ip,ipx,assigned,other GigabitEtherne

[2017-06-18 20:56] ktbyers commented on #164
[code]

[2017-06-23 05:45] sincerywaing commented on #163
thanks Kirk. Looks like ssh issue.

[2017-06-23 05:45] #163 closed, assigned to nobody

[2017-06-23 06:23] sincerywaing opened #168 "ios throw 'SSH session not active' when load_merge_candidate is called"
### Description of Issue/Question
dev.open()
dev.load_merge_candidate(filename='config.txt')
then it will throw 'SSH session not active'
### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ *] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

napalm-ios==0.6.2
napalm-iosxr==0.5.0

### I

[2017-06-23 06:30] sincerywaing commented on #168
weird, it happened couple of times then it disappears...
under what circumstance would this happens?
local host will initialize a new scp? how can the code prevent this from happening?

[2017-06-23 16:37] ktbyers commented on #168
@sincerywaing Is the file transfer completing? Do you see a file named `merge_config.txt` in `flash:` or `bootflash:`? You might need to use `dir` to get the name of the file system it is using.

How big is the `config.txt` file?

How long does it take before the SSHException appears?

[2017-06-24 05:11] sincerywaing commented on #168
Thanks Kirk.

No there is no file in flash. Usually around 10s. config file is very small like 4 lines.

It is not 100% reproducible, just wondering if there is any way we can retry?

Sent from my iPhone

[2017-06-24 19:47] ktbyers commented on #168
What does SSH debugging on the router/switch show when you do this (i.e. when the failure happens).

Also can you enable logging and see if that gives us more information:

[code]

[2017-06-25 01:42] sincerywaing commented on #168
Thanks Kirk. I'll see if I can reproduce this.

Sent from my iPhone

[2017-06-26 10:11] mirceaulinic opened #169 "Implement `get_bgp_neighbors_detail`"
### Description of Issue/Question

For framework consistency, this seems to be one of the most used methods (at least on Junos and XR).

[2017-06-28 15:11] sincerywaing commented on #168
Here is the debug log. config txt file has only 2 lines.
it seems file is never scp'ed to switch. junos works with same code.
the device is not pre-configured with scp but it seems will be auto configured during the loading.

[code]
=========================

DEBUG:paramiko.transport:starting thread (client mode): 0x84865d10L
DEBUG:paramiko.transport:Local version/idstring: SSH-2.0-paramiko_2.2.1

[2017-06-28 16:01] sincerywaing commented on #168
so if you keep show ssh - you will find the user did have two sessions - but the second one is Authenticated. comparing debug log, the second one looks like the one doing dir flash:merge_config. so why scp did not happen?

Connection Version Mode Encryption  Hmac	 State	               Username

1          2.0     IN   aes128-ctr  hmac-sha1    Session started       ttt
1          2.0     OUT  aes12

[2017-06-29 00:29] sincerywaing commented on #168
it seems to be issue that I put connect to another function?
https://github.com/jbardin/scp.py/issues/77

[2017-06-29 02:56] sincerywaing commented on #168
if I open a python interaction >>>, same code works fine, without define functions.

looks like this

https://github.com/jbardin/scp.py/issues/77

[2017-06-29 04:35] sincerywaing commented on #168
I don't know why but once I added 'inline_transfer': True to optional_args, everything starts working...

[2017-06-29 18:55] ktbyers commented on #168
`inline_transfer` doesn't use SCP; it uses a TCL-based file transfer completely inside the SSH session.

Leave this issue open so I can see if I can figure out any reason why the SCP transfer wasn't working.

[2017-07-02 15:12] sincerywaing commented on #168
Thanks Kirk.

Would it make any difference if we use inline transfer? what is the advantage and disadvantages against SCP?

I'd assume my code should not have issue, however you can try to increase latency to 300ms -400ms and put global_delay_factor=4 see if you can reproduce.

Sent from my iPhone

[2017-07-03 03:35] #158 closed, assigned to itdependsnetworks

[2017-07-03 15:57] #127 closed, assigned to nobody

[2017-07-03 18:28] ktbyers commented on #168
`inline transfer` is very slow for larger config files (not even all that large). I am not sure why this is.

Inline transfer also might run into some issues with special characters in the config. I know there is one open issue on this (I think in napalm-ios).

[2017-07-06 08:20] sincerywaing commented on #168
@ktbyers in code line 124,

                (return_status, msg) = self._scp_file(source_file=tmp_file, dest_file=dest_file,
                                                      file_system=file_system)

since we are assuming source_config is true, should we use source_config=tmp_file here?

Just quite confused with source_file and source_config...

[2017-07-06 08:53] sincerywaing commented on #168
I can see ip scp server is enabled so until line 502 the code should be good. It's just tranfer_file not working. is it possible that global_delay_factor could cause this?

Another thought would be - if scp needs to establish a new ssh session, is it possible that the new session is never established if we use self.device?

[2017-07-06 18:59] ktbyers commented on #168
@sincerywaing I don't think you would see the error that you see if the issue was with global_delay_factor.

Can you expand on this?

[code]

The SCP operation of NAPALM generally works (i.e. it is used on a lot of IOS devices). So it is not a matter of referencing the wrong thing.

What do you see if you `debug ip ssh` on the Cisco side?

[2017-07-07 03:22] sincerywaing commented on #168
@ktbyers just a wild guess:)

the debug does not show anything useful, it seems the scp action never happened...

[2017-07-07 03:55] sincerywaing commented on #168
@ktbyers I think I can reproduce the issue, it looks purely latency related:

if latency <150ms, there is no issue.

if latency is >300ms or even >350ms, there are various errors. changing global_delay_factor does not help.

[code]
or
[code]

Also during transfer, the transfer class will configure 'ip scp server enable'; but it won't disable it. Can we put 'no ip scp server enable' after transfer

[2017-07-07 04:22] sincerywaing commented on #168
The original issue of 'SSH session inactive' probably due to vty 5 15 configuration issue.
I'll close this one first and open a new one on this latency issue.

[2017-07-07 04:25] sincerywaing opened #173 "Latency Issue Cause various errors - increased global_delay_factor"
### Description of Issue/Question
large latency (>350ms) cause deployment failure. We have to change the global_delay_factor to 7 that fix the issue.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [* ] Yes
- [ ] No

### Setup
large latency environment
### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code

[2017-07-07 04:26] sincerywaing opened #174 "remove 'ip scp server enable' after deployment"
### Description of Issue/Question
during file transfer, the transfer class will configure 'ip scp server enable'; but it won't disable it. Can we put 'no ip scp server enable' after transfer finish?

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ *] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` betw

[2017-07-07 07:34] sincerywaing commented on #173
purely using netmiko can reproduce the issue, seems to be delay_factor related:
[code]

but adding global_delay_factor=2 can't fix the issue during load_merge_candidate.

[code]
or

[code]

I added up to 7 that fixed the issue.

Is there a way to dynamically adjust this?

[2017-07-07 16:33] ktbyers commented on #174
This is by design.

See comments in the PR:

https://github.com/napalm-automation/napalm-ios/pull/175

[2017-07-07 16:33] #174 closed, assigned to nobody

[2017-07-12 00:47] sincerywaing commented on #168
reopen this one to properly track the issue as it seems even increased global_delay_factor can't fix it. I encountered another one during a push.

[2017-07-12 02:48] sincerywaing commented on #168
[fail.txt](https://github.com/napalm-automation/napalm-ios/files/1140753/fail.txt)
here is the debug ip ssh from the router
it seems both logins are successful, however the scp fails due to session already closed due to 0x12

[2017-07-12 05:11] sincerywaing commented on #168
I compared a working instance and non-working instance, the nonworking instance does not have below log:

dis-sw1(config)#
DEBUG:netmiko:read_channel:
DEBUG:netmiko:read_channel:
DEBUG:netmiko:write_channel:

DEBUG:netmiko:_read_channel_expect read_data:
dis-sw1(config)#
DEBUG:netmiko:write_channel: end

DEBUG:netmiko:_read_channel_expect read_data: end
dis-sw1#
DEBUG:netmiko:write_channel:

DEBUG

[2017-07-14 05:39] sincerywaing commented on #168
I think the ssh session was closed due to below when I take a look at the fail debug:

DEBUG:paramiko.transport:EOF in transport thread

Above is the last line of debug.

it seems after sending 'ip scp server enable', the program somehow read EOF so the channel is closed:
[code]

[2017-07-14 06:35] sincerywaing commented on #168
@ktbyers I think I can reproduce the issue.

on my devices I configure below:

[code]

it seems if you configure ```global_delay_factor``` large value, or latency is high, the ssh session might got closed.

if I configure

[code]

The issue never re-occured.

I tried ```keepalive``` = 1 but it does not help.

[2017-07-14 12:47] dirkvdplas opened #177 "load_merge_candidate & commit_config slow (takes 40 seconds)"
### Description of Issue/Question

I do a small change of prefix-list (just a single entry) on a Cisco 7600 device. I do this in a 2 step proces. First load_merge_candidate, and after that commit_config. The complete operation takes 40 seconds. See output of AAA command authorization debug to get an idea of the time the different steps take. Is that normal? The C7600 is not busy at all, I have the

[2017-07-14 21:22] ktbyers commented on #177
@dirkvdplas Yes, I suspect it is so slow because of your AAA authorization.

It would be interesting to see how long it took if you are not doing this. It would still be slow, but just not this slow (at least that is my guess).

[2017-07-15 05:34] sincerywaing commented on #173
I used a ping function to measure the latency and divide by 50 to determine the global_delay_factor looks to be a good solution. close this one for now.

[2017-07-15 05:34] #173 closed, assigned to nobody

[2017-07-15 05:37] sincerywaing commented on #168
@krbyers it seems you partially rewrited scp in scp_handler for netmiko. is it possible to add a keepalive function to prevent it from closing :-)?

[2017-07-15 17:53] ktbyers commented on #168
@sincerywaing So my read of the above is:

This is the router closing the session (for some reason):

[code]

So `ip ssh time-out` defaults to 120 seconds. You are setting this lower which is causing SSH negotiation to fail for slow links.

On this question:

[code]
The router is closing the SSH session. The easy fix is for you to go back to the default `ip ssh time-out 120`. In other words, you h

[2017-07-16 03:13] sincerywaing commented on #168
@ktbyers yes I agree. The weird part is that why the negotiation can't be done in 15s. Just wondering if there is somewhere we can improve the efficiency, as the scp process should be another ssh session so it should not be affected by global_delay_factor but only latency and code efficency I guess?

[2017-07-16 21:53] ktbyers commented on #168
Why not just set your Cisco devices back to the 120s default and be done with it?

My point is Cisco defaulted this to 120s for some reason. We are seeing strange behavior from the Cisco device when we set the timer to 15s (i.e. Cisco disconnects the session at a lower time than we would expect). This makes me believe there is more nuance to this timer on the Cisco side.

[2017-07-17 08:03] dirkvdplas commented on #177
@ktbyers I disabled TACACS and do everything local, still slow (37 seconds). My AAA config looks like:
aaa new-model
aaa authentication fail-message ^CCCC
aaa authentication login default local
aaa authentication enable default none
aaa authorization exec default local if-authenticated
aaa session-id common

What are the commands executed 'under the hood' for load_merge_candidate & commit_config?

[2017-07-17 12:51] sincerywaing commented on #168
I guess it has something to do with PCI DSS. Anyways inline_transfer works even with low timeout value. I'll close it for now if we don't have plan to further investigate. Thanks @ktbyers.

[2017-07-17 12:51] #168 closed, assigned to nobody

[2017-07-17 17:33] ktbyers commented on #168
@sincerywaing That is a bummer...FWIW I don't think that is real. In other words, I don't think PCI actually requires that. So I would probably push back on your auditors on that.

You could also try to see if there are any bugs in Cisco IOS pertaining to this timer.

You could also see if negotiation is actually taking 15 seconds i.e. I wouldn't think our negotiation is taking 15 seconds. If it i

[2017-07-17 17:39] ktbyers commented on #177
@dirkvdplas Okay interesting.

You can see all the CLI commands that get executed here (this will create a log file named 'test.log')

[code]

[2017-07-21 10:40] nicolaskarp opened #179 "Regex used fto match the name of the network interface"
Hello Everyone,

Issue with command "get_interfaces" :

[code]

Version : napalm-ios==0.7.0

It's happening when on my router, I have an interface like this  :  `pseudowire100006 is up`

The problem is with the regex used to match the interface Name :
`interface_regex = r"^(\S+?)\s+is\s+(.+?),\s+line\s+protocol\s+is\s+(\S+)"`

The "line protocol" section is not available on this type of Internafe

[2017-07-21 11:14] itdependsnetworks commented on #179
Can you provide the full scrubbed relevant section of show interfaces?

[2017-07-21 11:18] nicolaskarp commented on #179
hello,

here you go :

[code]

I've done something like that in order to resolve the issue :

[code]

[2017-07-21 11:32] itdependsnetworks commented on #179
This is a rather large deviation from the mocked data on hand. Just to clarify this is the full output of the relevant interface?

As an example, here is roughly what is expected.

[code]

[2017-07-21 12:00] nicolaskarp commented on #179
Yes that's the only output. Those interfaces are used for L2VPN.

[code]

Nick

[2017-07-21 12:24] itdependsnetworks commented on #179
Your solution seems makes sense. I think it is up to @ktbyers but If I were you I would put in a PR. I would also add to the PR to make sure that it is accommodating for up, down, admin down. I also presume you would need to null out the mac address.

[2017-07-27 15:57] piter50 opened #181 "get_environment fails on Cisco 3850 switch"
### Description of Issue/Question
When it tries to get the memory, it executes show memory statistics which is not implemented on Cisco 3850 switches.  it fails to find the Processor line and fails to set proc_used_mem variable
Cisco 3850s (and I believe 3650s) use
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-io

[2017-07-28 21:48] itdependsnetworks commented on #181
Can you provide a `show memory` on a multi-stack switch?

[2017-07-31 18:26] piter50 commented on #181
I don't see any way to get memory for the entire stack.  it seems to be on a per member basis.  It would be
show memory switch <n>
where n is each stack members number, but then you have to worry about getting the number of stack members.  Or you could just get it for the active stack member, but have to get that using show switch detailed.

`show process memory` also shows the memory usage on the

[2017-08-04 01:36] bgodette commented on #141
FYI Port ID can also contain spaces. Since you're already using some fixed position parsing (long Device ID) and tests (no Capability), why not just extract ranges and strip whitespace?
[code]

[2017-08-06 01:24] piter50 opened #182 "get_environment fails on Cisco 4500"
### Description of Issue/Question
In cisco 4500s, running show memory statistics does not contain a line about IO so the io_used_mem variable is never populated and used/total memory are not able to be calculated.
It only shows:
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [ X] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output fro

[2017-08-07 22:11] bdlamprecht opened #184 "get_facts returns the whole string from "show version" not just the software version"
### Description of Issue/Question
When using the generic NAPALM function `get_facts` against an `ios` device, the whole string from the command "show version" is returned, not just the software version (like a `junos` device does).

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pi

[2017-08-07 23:53] ktbyers commented on #184
Also for IOS-XE

Cisco IOS XE Software, Version 03.13.06a.S - Extended Support Release
Cisco IOS Software, ASR1000 Software (X86_64_LINUX_IOSD-UNIVERSALK9_NOLI-M),
Version 15.4(3)S6a, RELEASE SOFTWARE (fc2)
[code]

[2017-08-07 23:55] ktbyers commented on #184
Also want to retain the:

[code]

[2017-08-08 06:43] dbarrosop commented on #184
I think this is dangerous. I would suggest returning the filename: `s72033-advipservicesk9-mz.151-2.SY9` without the extension. Cisco encodes a lot of information there and they are anything but consistent so the only way to play it safe is probably by removing the extension of the filename. Also, due to the lack of consistency it's easier to reason about this if we just say "the version on IOS is

[2017-08-15 00:18] bholmgren opened #187 "get_snmp_information() returns ACL names as "N/A" if none exist for a community"
IOS driver returns "N/A" if no ACL is specified for a community statement. This is a different behaviour from EOS and NX-OS that simply return an empty string.

The documentation has an example that includes "N/A" though so while I am not sure which one is
the intended behaviour, an empty string or None makes much more sense than "N/A"

[code]

[code]

[code]

[2017-08-18 17:20] ktbyers commented on #187
Adding @mirceaulinic @dbarrosop...to me the definition in napalm-base is the canonical behavior so this would be an EOS and NX-OS bug.

Alternatively, we can change the definition and just review the drivers...one way or another we should standardize.

[2017-09-06 16:11] bdlamprecht opened #195 "Missing end in "merge_config.txt" causes the error "!Error: cfgdiff returned error 5""
### Description of Issue/Question
Missing **`end`** in `merge_config.txt` on IOS device causes the following error to occur:
[code]

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X] Yes

### Setup
Ubuntu 16.04.3

### napalm-ios version
[code]

### Steps to Reproduce the Issue
Using the automatically generated files `merge_config.txt` and `candidate_config.txt

[2017-09-18 15:19] Aadasrh opened #196 "ISSUE WITH BASIC NAPALM CODE"
Recently i am having issue with basic NAPALM code. Can someone please check and advise,

CODE:
[code]
Error
 `C:\Users\Rambo\AppData\Local\Programs\Python\Python36-32\python.exe C:/Users/Rambo/.PyCharmCE2017.2/config/scratches/scratch.py
opening
Traceback (most recent call last):
  File "C:\Users\Rambo\AppData\Local\Programs\Python\Python36-32\lib\site-packages\netmiko\base_connection.py", line 50

[2017-09-18 15:21] Aadasrh commented on #196
@ktbyers can you please have a look and advise sir.

[2017-09-18 15:40] Aadasrh commented on #196
Correction i fixed the port issue not getting this error

C:\Users\Rambo\AppData\Local\Programs\Python\Python36-32\python.exe C:/Users/Rambo/.PyCharmCE2017.2/config/scratches/scratch.py
opening
Traceback (most recent call last):
  File "C:\Users\Rambo\AppData\Local\Programs\Python\Python36-32\lib\site-packages\paramiko\channel.py", line 683, in recv
    out = self.in_buffer.read(nbytes, self.timeo

[2017-09-18 16:01] briantsaunders opened #197 ""ValueError: Unable to find prompt" on commit_config() operation"
### Description of Issue/Question
Attempting to perform a commit_config() operation on a Cisco Catalyst 3850 device.  I modify the global_delay_factor to 120 and still receive the error.  When I manually enter the "configure replace candidate.txt force revert trigger error" on the device it takes greater than 20 seconds for the prompt to return.  I noticed in the _commit_hostname_handler function

[2017-09-18 16:49] ktbyers commented on #197
Better solution needs created for the hostname handler or more time allocated...too many failures just due to delay of loading the configuration.

[2017-09-18 16:56] ktbyers commented on #196
@Aadasrh It looks like you are failing to go into enable mode.

Probably need something like:

[code]

[2017-09-19 12:32] Aadasrh commented on #196
@ktbyers Hello sir,

it is working fine you were correct the  program was not able to go into enable mode i changed the user privilege level on router and it is working now.

one small doubt i have before doing this change i also made a simple Netmiko script to check my SSH and ran a command as so how did it work .

Did it run the command without going to enable mode.

Below is the netmiko program

[2017-09-19 17:21] ktbyers commented on #196
@Aadasrh Yes, 'show ip int brief' does not require enable privileges so in the Netmiko case it worked as is.

[2017-09-19 17:22] #196 closed, assigned to nobody

[2017-09-20 19:11] briantsaunders opened #200 "get_facts() errors if "show hosts" command returns nothing"
### Description of Issue/Question
Issuing get_facts() on an IOS device that does not return any data on a "show hosts" command causes an error.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [X ] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verba

[2017-09-20 19:44] afourmy commented on #200
should be fixed by https://github.com/napalm-automation/napalm-ios/pull/201

[2017-09-25 15:57] ktbyers opened #203 "napalm-ios ping is not correctly tracking probes_sent"
This was on a failure pinging an IP address that didn't exist using napalm-ansible:

[code]

[2017-09-26 07:53] fherbet commented on #197
Have same issue  when i push NAT config on any IOS devices... device lags when it has NAT applied and then i get :

TASK [napalm_install_config] ***************************************************
fatal: [170501795]: FAILED! => {"changed": false, "failed": true, "msg": "cannot install config: Unable to find prompt: "}

even though config is properly applied...

[2017-09-26 17:32] ktbyers commented on #197
@fherbet You might turn on logging to get more details on your issue:

https://github.com/ktbyers/netmiko/blob/develop/COMMON_ISSUES.md#enable-netmiko-logging-of-all-reads-and-writes-of-the-communications-channel

Are you doing a replace or a merge operation?

Note, the above error is a pretty generic Netmiko error so it may nor not be the same cause as the above issue.

[2017-09-27 17:17] ktbyers opened #204 "get_interfaces_ip executes a show command for each interface"
And is consequently very slow:

[code]

Probably replace with `show ip interface`

[2017-09-27 22:31] ktbyers commented on #204
@targuan Okay, thanks for referencing that and creating the PR.

[2017-09-29 03:45] ktbyers commented on #179
@nicolaskarp Do you know what the pseudowire looks like when it is administratively down?

[2017-09-29 07:16] nicolaskarp commented on #179
Hello @ktbyers I will look into this and try to find an example...

[2017-09-29 07:22] nicolaskarp commented on #179
@ktbyers hmmm, the pseudowire is always up even if the L2VPN is down. So your new regex matching up/down is fine ;-) Nick

[2017-09-29 20:18] ktbyers commented on #197
Proposed fix is here.

https://github.com/napalm-automation/napalm-ios/pull/207

@briantsaunders It would be interesting to know if the new solution works for your Catalyst 3850. You should not need to set the global_delay_factor here.

[2017-09-29 20:20] ktbyers commented on #195
Fix here: https://github.com/napalm-automation/napalm-ios/pull/207

Note, the fix is just to print a message indicating what the problem is. Basically, I think it is a mistake for napalm-ios to modify the config file in your file system (on your central server). It is better to direct the user to what the problem is and then they can make the necessary modification.

Thanks for figuring out what w

[2017-09-29 20:20] #195 closed, assigned to nobody

[2017-09-29 23:42] #204 closed, assigned to nobody

[2017-10-02 13:25] briantsaunders commented on #197
@ktbyers sure, i can test it out.  how do I get the fix loaded into my environment?

[2017-10-02 19:36] ktbyers commented on #197
@briantsaunders You should be able to do something like the following:

[code]

[2017-10-04 19:48] briantsaunders commented on #197
@ktbyers Just tested it on the 3850 I had previous issues with, no errors this time around upon commit_config().

[code]

[2017-10-04 20:33] ktbyers commented on #197
@briantsaunders Nice...thanks.

[2017-10-06 12:23] carlgevans commented on #197
@ktbyers I had the same issue and this update resolved it on an 887VA with IOS 15.4(3)M8. Thank you :-)

[2017-10-06 21:44] ktbyers opened #210 "CSR1000V"
Why do I need to use inline transfer?

Document process.

Does global delay factor need to be set?

[2017-10-06 21:53] ktbyers commented on #210
Configure replace applied the config, but looked like it failed:

[code]

[2017-10-07 00:27] mekisiel commented on #162
I've run into this as well and it appears that napalm-ios issue #203 addresses a portion of this, namely the negative packet loss value. My preference would be to have an error statement returned indicating complete packet loss (as is the case with junos) vs. returning the 'success' dict with values indicating 100% packet loss, as it is not really a 'success' or even a partial success (which shoul

[2017-10-07 00:38] ktbyers commented on #162
Related issue #203

[2017-10-10 15:31] targuan opened #215 "Cannot install config if candidate change username"
### Description of Issue/Question
When the candidate configuration change an username, the configuration replace ask for a confirmation:
[code]
load_replace_candidate hangs and fails to complete.

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between

[2017-10-19 15:11] foats opened #216 "Is AAA (TACACS) Supported? Not able to login nor test."
### Description of Issue/Question

### Did you follow the steps from https://github.com/napalm-automation/napalm#faq
- [x] Yes
- [ ] No

### Setup

### napalm-ios version
(Paste verbatim output from `pip freeze | grep napalm-ios` between quotes below)

[code]

### IOS version
(Paste verbatim output from `show version` between quotes below)

[code]

### Steps to Reproduce the Issue

### Error Trace

[2017-10-19 17:44] ktbyers commented on #216
@foats Can you show me what a manual CLI session looks like (I want to see how the login interaction looks like)?

Obviously just remove/hide the password.

So the Netmiko login works fine?

Kirk

[2017-10-20 00:18] foats commented on #216
$ssh 400usw04003
password:
400USW04003>en
password:
400USW04003#

Is this what you are looking for?  It might not even be AAA could just be the fact that I have to got to enable mode separately, this works fine for me on my other switch that has no AAA and just a priv 15 user configured.

So netmiko technically doesn't work! Just checked with a show run command, Netmiko is not going into enable mo

[2017-10-20 01:36] ktbyers commented on #216
@foats This error indicates it failed authentication i.e. didn't successfully SSH in:

[code]

I see you said:

[code]

I don't know what special character means but did you single quote this entire string?

[code]

(with the assumption that you have no single quotes in your password).

You will also need to pass the secret as an optional argument.

Your code should look something like this:

[cod

[2017-10-23 13:51] bewing opened #218 "get_facts()['version'] Unknown on old 2950"
New test case needed.

[code]
[code]

[2017-10-23 17:17] ktbyers commented on #218
@bewing Closed here...opened here (reunification of napalm):

https://github.com/napalm-automation/napalm/issues/425

[2017-10-23 17:17] #218 closed, assigned to nobody

[2017-10-24 13:34] #128 closed, assigned to nobody

[2017-10-24 13:34] #107 closed, assigned to nobody

[2017-10-24 13:37] mirceaulinic commented on #32
Moved to https://github.com/napalm-automation/napalm/issues/448

[2017-10-24 13:37] #32 closed, assigned to nobody

[2017-10-24 13:38] mirceaulinic commented on #85
Moved to https://github.com/napalm-automation/napalm/issues/449

[2017-10-24 13:38] #85 closed, assigned to nobody

[2017-10-24 13:44] mirceaulinic commented on #101
This has been moved to https://github.com/napalm-automation/napalm/issues/450

[2017-10-24 13:44] #101 closed, assigned to nobody

[2017-10-24 13:45] mirceaulinic commented on #111
Moved to https://github.com/napalm-automation/napalm/issues/451

[2017-10-24 13:45] #111 closed, assigned to nobody

[2017-10-24 13:46] #117 closed, assigned to nobody

[2017-10-24 13:47] mirceaulinic commented on #123
Moved to https://github.com/napalm-automation/napalm/issues/453

[2017-10-24 13:47] #123 closed, assigned to nobody

[2017-10-24 13:48] mirceaulinic commented on #112
Moved to https://github.com/napalm-automation/napalm/issues/452

[2017-10-24 13:48] #112 closed, assigned to ktbyers

[2017-10-24 13:49] mirceaulinic commented on #125
Moved to https://github.com/napalm-automation/napalm/issues/454

[2017-10-24 13:49] #125 closed, assigned to mirceaulinic

[2017-10-24 13:51] mirceaulinic commented on #132
Hi @sorano - I believe this has been already implemented.

We are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm.

[2017-10-24 13:51] #132 closed, assigned to sorano

[2017-10-24 13:52] mirceaulinic commented on #140
Moved to https://github.com/napalm-automation/napalm/issues/455

[2017-10-24 13:52] #140 closed, assigned to nobody

[2017-10-24 13:55] mirceaulinic commented on #141
Hi @Shayneeking - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/456 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Tha

[2017-10-24 13:55] #141 closed, assigned to nobody

[2017-10-24 13:56] mirceaulinic commented on #145
Moved to https://github.com/napalm-automation/napalm/issues/457

[2017-10-24 13:56] #145 closed, assigned to nobody

[2017-10-24 13:58] mirceaulinic commented on #148
This issue has been moved to https://github.com/napalm-automation/napalm/issues/458

[2017-10-24 13:58] #148 closed, assigned to nobody

[2017-10-24 14:01] mirceaulinic commented on #156
Moved to https://github.com/napalm-automation/napalm/issues/459

[2017-10-24 14:01] #156 closed, assigned to nobody

[2017-10-24 14:07] mirceaulinic commented on #160
Moved to https://github.com/napalm-automation/napalm/issues/460

[2017-10-24 14:07] #160 closed, assigned to ktbyers

[2017-10-24 14:09] mirceaulinic commented on #161
Hi @jemcek - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/461 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Thanks f

[2017-10-24 14:09] #161 closed, assigned to nobody

[2017-10-24 14:12] mirceaulinic commented on #203
Closing this as it seems that https://github.com/targuan/napalm-ios/commit/e4d6504d39430e1c84f7c42b6b165dddc37de4ad solved it.

[2017-10-24 14:12] #203 closed, assigned to nobody

[2017-10-24 14:13] mirceaulinic commented on #162
Hi @jemcek - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm.
It looks like https://github.com/targuan/napalm-ios/commit/e4d6504d39430e1c84f7c42b6b165dddc37de4ad solved this bug, but if this issue per

[2017-10-24 14:13] #162 closed, assigned to nobody

[2017-10-24 14:16] mirceaulinic commented on #143
Moved to https://github.com/napalm-automation/napalm/issues/463

[2017-10-24 14:16] #143 closed, assigned to nobody

[2017-10-24 14:17] mirceaulinic commented on #164
Moved to https://github.com/napalm-automation/napalm/issues/464

[2017-10-24 14:17] #164 closed, assigned to nobody

[2017-10-24 14:18] mirceaulinic commented on #169
Moved to https://github.com/napalm-automation/napalm/issues/465

[2017-10-24 14:18] #169 closed, assigned to mirceaulinic

[2017-10-24 14:20] mirceaulinic commented on #177
Hi @dirkvdplas - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/466 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Than

[2017-10-24 14:20] #177 closed, assigned to nobody

[2017-10-24 14:21] mirceaulinic commented on #179
Hi @nicolaskarp - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
Going forward, we'd like to ask you to submit Pull Requests and Issue to the main repository: https://github.com/napalm-automation/napalm.
I believe this has been already fixed via https://github.com/napalm-automation/napalm-ios/commit/5ca1d8e7aa269c33f1d5e2b1d658e9ba75b55

[2017-10-24 14:21] #179 closed, assigned to nobody

[2017-10-24 14:22] mirceaulinic commented on #210
Moved to https://github.com/napalm-automation/napalm/issues/467

[2017-10-24 14:22] #210 closed, assigned to ktbyers

[2017-10-24 14:24] mirceaulinic commented on #181
Hi @piter50 - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/468 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Thanks

[2017-10-24 14:24] #181 closed, assigned to nobody

[2017-10-24 14:28] mirceaulinic commented on #184
Hi @bdlamprecht - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/469 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Tha

[2017-10-24 14:28] #184 closed, assigned to nobody

[2017-10-24 14:30] mirceaulinic commented on #187
Hi @bholmgren - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/470 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Thank

[2017-10-24 14:30] #187 closed, assigned to nobody

[2017-10-24 14:31] mirceaulinic commented on #197
Hi @briantsaunders - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
Going forward, we'd like to ask you to submit Pull Requests and Issue to the main repository: https://github.com/napalm-automation/napalm.
I believe this has been already fixed via https://github.com/napalm-automation/napalm-ios/commit/13fc6c4ceb2c57e8df25e34773fd7f6b5f

[2017-10-24 14:31] #197 closed, assigned to ktbyers

[2017-10-24 14:32] mirceaulinic commented on #200
Hi @briantsaunders - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
Going forward, we'd like to ask you to submit Pull Requests and Issue to the main repository: https://github.com/napalm-automation/napalm.
I believe this has been already fixed via https://github.com/napalm-automation/napalm-ios/commit/2a5c1c500130ecd32b848f958dcb3ad789

[2017-10-24 14:32] #200 closed, assigned to nobody

[2017-10-24 14:33] mirceaulinic commented on #215
Hi @targuan - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/471 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Thanks

[2017-10-24 14:33] #215 closed, assigned to ktbyers

[2017-10-24 14:35] mirceaulinic commented on #216
Hi @foats - we are currently in the process of reunification, please check https://napalm-automation.net/reunification/.
For the time being, we have moved this issue to https://github.com/napalm-automation/napalm/issues/472 so we can discuss further.
Going forward, we'd like to ask you to submit Pull Requests and Issues to the main repository: https://github.com/napalm-automation/napalm

Thanks fo

[2017-10-24 14:35] #216 closed, assigned to nobody

[2017-10-24 17:52] ktbyers commented on #182
Will track in the pull request.

[2017-10-24 17:52] #182 closed, assigned to nobody

[2017-11-02 15:10] LongBeachHXC commented on #197
Hey Team,

I was experiencing this same issue on an IOS-XE switch version 3.07.05. I upgraded my netmiko, napalm_base, and napalm_ios modules to most recent  and this fixed the 'unable to find prompt' issue.

Thank you all!